<section id='main'>

<%= render "templates/header" %>
<%= render "templates/mainslider" %>
<%= render "templates/services" %>

<!-- Block 2 -->
<section id='block2'>
    <div class='left'>
        <div class='cont'>
            <h3 class='zag'><%= t('page_elements.about_company') %></h3>
            <div class='text'><span>Компания «Техносервис»</span> является единственным разработчиком и производителем специальных транспортных средств для шахтной промышленности и одной из крупнейших на российском рынке по глубокой модернизации легковых, внедорожных и грузовых автомобилей. Шахтная транспортная техника компании «Техносервис», оборудуется отечественными и импортными силовыми агрегатами и комплектующими, обладает высокой экологичностью, ремонто-пригодностью, надежностью, а также низкой ценой, что выгодно отличает ее от импортных аналогов.<br><br>Мы предлагаем большой выбор силовых агрегатов - бензиновые и дизельные с механическими и автоматическими коробками передач фирмы TOYOTA и ISUZU для установки на автомобили отечественного производства, отличающиеся высокой надежностью. Вся производимая техника сертифицирована, имеются одобрения типа транспортного средства.<br>Мы представляем новое направление деятельности компании - разработка, производство, продажа, сервисное обслуживание судов на воздушной подушке (СВП), а так же ремонт всех видов водного транспорта.<br><br>Одним из направлений нашей деятельности является производство и продажа рукавов высокого давления (РВД) любых типов для автомобильной, сельскохозяйственной и спецтехники, по требованию заказчика, ремонт РВД и шлангов гидроусилителей руля для всех типов автомобилей.</div>
        </div>
    </div>
    <div class='right'>
        <div class='cont'>
            <h3 class='zag'><%= t('page_elements.our_advatages') %></h3>
            <div class='text'>
                <div class='preim1'>
                    <div>Наша компания является заводом изготовителем и мы сами занимаемся разработкой техники. Конструкторское бюро, в котором мы продумываем каждую машину до мельчайшей детали. Наши высококвалифицированные специалисты и используем только самые передовые технологии при разработки технических изделий!</div>
                    </div>
                <div class='preim2'>
                    <div>Мы предлагаем свою технику по самой конкурентоспособной цене, без наценок многочисленных посредников и агентов, так как продаем только то, что производим сами.</div>
                    </div>
                <div class='preim3'>
                    <div>Мы можем изготовить технику под ваши индивидуальные требования или внести изменения в существующие разработки с учетом специфики эксплуатации и ваших потребностей. Вот уже более 15 лет наша компания является единственным в России дистрибьютором широкой гаммы силовых агрегатов марки Тойота.
                    </div>
                </div>
                <div class='preim4'>
                    <div>Купив нашу технику, вы получаете гарантийное и послепродажное обслуживание. Мы всегда на связи и поможем разобраться в любом возникающем вопросе. 
                    Не зря нас выбирают в качестве партнера такие крупные заказчики как Уралкалий, Бурятзолото, Еврохим, МЧС России, Полиметалл, Русдрагмет и многие другие. 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='clr'></div>
</section>

<!-- Block 3 -->
<section id='block3'>
    <h2 class='zag'><%= t('page.gallery2') %></h2>
    <div class='cont'>
        <% @images.each do |i| %>
            <div class='photo'>
                <a class="e-show-img-photo" value="<%= i.image %>"></a>
                <a href="<%= i.image %>" data-fancybox class="all02 photo-img">
                    <img class="" src="<%= i.image %>" alt="<%= i.title %>">
                </a>
            </div>
        <% end %>
        <div class='clr'></div>
    </div>
    <div class='photo-button'><a href="/galleries"><%= t('page.go_to_gallery') %></a></div>
</section>

<!-- Block 4 -->
<section id='block4'>
    <div class='mainnews'>
        <div class='left'>
            <h2 class='zag'><%= t('page.news2') %></h2>

            <div class='cont'>
                <div class='newscent'>
                    <% @news.each do |n| %>
                        <div class='news'>
                            <a href="/news/<%=n.url%>">
                                <div class='img'>
                                    <div class='date'>
                                    <span><%= n.created_at.strftime("%d") %></span><%= I18n.l(n.created_at, format: "%B") %>
                                    </div>
                                    <% if n.image_file_name %>
                                        <img src="<%= n.image %>" alt="">
                                    <% else %>
                                        <%= image_tag("photos/photo2.png", :alt => "") %>
                                    <% end %>
                                </div>
                            </a>
                            <div class='zag-text'><a href="/news/<%=n.url%>"><%= n.title %></a></div>
                        </div>
                    <% end %> 
                    <div class='clr'></div>
                </div>
            </div>
            <div class='news-button'><a href="/news"><%= t('page.all_news') %></a></div>
        </div>
        <div class='right'>
            <h2 class='zag'><%= t('page_elements.write_to_us') %></h2>
            <div class='cont'>
            <%= form_tag("/order", method: "post") do %>
                <%= text_field_tag(:name, nil, placeholder: I18n.t('form.name')) %>
                <%= email_field_tag(:mail, nil, placeholder: I18n.t('form.email')) %>
                <%= telephone_field_tag(:phone, nil, placeholder: I18n.t('form.phone')) %>
                <%= text_area_tag(:message, nil, placeholder: I18n.t('form.message')) %>
                <div class="g-recaptcha" id="id-recaptcha-main" data-sitekey="6LcqKxoUAAAAAK4EFK34_u_3tsTTwDk5GkzMYCpH" style="width: 304px; margin: 0 auto;"></div>
                <a href="/agreement" target="_blank" class="e-agreement-href"><%= t('form.agreement') %></a>
                <div class="e-checkbox-block">
                    <input type="checkbox" id="id-agree-checkbox" class="e-checkbox" name="agree-checkbox" value="1" onchange="document.getElementById('sendPopupDataBtnMain').disabled = !document.getElementById('sendPopupDataBtnMain').disabled;" checked>
                    <label for="id-agree-checkbox" class="e-checkbox-label"><%= t('form.agreement_text') %></label>
                </div>
                <%= submit_tag(I18n.t('page_elements.send_message_btn'), class: 'form-button', id: 'sendPopupDataBtnMain', :onclick => "yaCounter39337790.reachGoal('zayavka_SVP');", disabled: false) %>
            <% end %>
            </div>
        </div>
        <script type="text/javascript">
            onloadCallback();
        </script>
        <div class='clr'></div>
    </div>
</section>

<%= render "templates/footer" %>
</section>

<!-- Scripts -->

<!-- Slider activation -->
<script>

$(".rslides").responsiveSlides({
  auto: true,               // Boolean: Animate automatically, true or false
  speed: 500,               // Integer: Speed of the transition, in milliseconds
  timeout: 4000,            // Integer: Time between slide transitions, in milliseconds
  pager: true,              // Boolean: Show pager, true or false
  nav: true,                // Boolean: Show navigation, true or false
  random: false,            // Boolean: Randomize the order of the slides, true or false
  pause: false,             // Boolean: Pause on hover, true or false
  pauseControls: true,      // Boolean: Pause when hovering controls, true or false
  prevText: "",             // String: Text for the "previous" button
  nextText: "",             // String: Text for the "next" button
  maxwidth: "",             // Integer: Max-width of the slideshow, in pixels
  navContainer: "",         // Selector: Where controls should be appended to, default is after the 'ul'
  manualControls: "",       // Selector: Declare custom pager navigation
  namespace: "rslides",     // String: Change the default namespace used
  before: function(){},     // Function: Before callback
  after: function(){}       // Function: After callback
  
});
</script>
