<div>
    <% if @re_captcha_result %>
        <h1>Ваша заявка принята</h1>
    <% else %>
        <h1>Вы не подтвердили, что вы не робот! Попробуйте ещё раз.</h1>
    <% end %>

    <script type="text/javascript">
        setTimeout(function(){
            window.location.href = "/";
        }, 3000);
    </script>
</div>