<section id='sitemap'>
<%= render "templates/header" %>
    <ul class="b-sitemap">
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О Компании</a></li>
        <li>
            <a href="/services">Продукция и услуги</a>
            <ul>
                <li><a href="/services/vehicles_for_mines">Транспортные седства для шахт</a></li>
                <li>
                    <a href="/services/forestry_equipment">Лесозаготовительная техника</a>
                    <ul>
                        <li><a href="/services/forestry_equipment/harvester-tn211710">Харвестер ТН211710</a></li>
                        <li><a href="/services/forestry_equipment/forvarder-t6920">Форвардер Т6920</a></li>
                    </ul>
                </li>
                <li><a href="/services/power_aggregators">Силовые агрегаторы</a></li>
                <li>
                    <a href="/services/hovercrafts">Амфибийные суда</a>
                    <ul>
                        <li><a href="/services/hovercrafts/sudno-na-vozdushnoy-podushke-pegas-5-v-rossii">Пегас 5</a></li>
                        <li><a href="/services/hovercrafts/sudno-na-vozdushnoy-podushke-aerodzhet-8">Аэроджет 8</a></li>

                        <li><a href="/services/hovercrafts/sudno-na-vozdushnoy-podushke-mirazh">Мираж</a></li>
                        <li><a href="/services/hovercrafts/sudno-na-vozdushnoy-podushke-poseydon-20t">Посейдон 20Т</a></li>
                        <li><a href="/services/hovercrafts/lodka-amfibiya-ribohod-710">РИБоход 710</a></li>
                    </ul>
                </li>
                <li><a href="/services/recycling">Утилизация отходов</a></li>
                <li>
                    <a href="/services/auto">Автоуслуги</a>
                    <ul>
                        <li><a href="/services/auto_services">Автоуслуги</a></li>
                        <li><a href="/services/retro_cars">Ретроавто</a></li>
                        <li><a href="/services/off_road_cars">Внедорожные автомобили</a></li>
                        <li><a href="/services/technical_inspection">ТО - технический осмотр авто</a></li>
                        <li><a href="/services/mototechnics">Мототехника</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/contacts">Контакты</a></li>
    </ul>

<%= render "templates/footer" %>
</section>
