<section id='main'>
    <%= render "templates/header" %>
    <section class="p-auto">
        <h1 class='zag'><%= t('services.title_autoservices') %></h1>
        <div class='line'></div>
        <div class='position'><a href="/"><%= t("page.main") %></a> | <a  href="/services"><%= t("page.services") %></a> | <%= t("page.autoservices") %></div>
        <div class='content'>
        <% if session[:locale] == :en %>
            <div class='cnt1' onclick="window.location='/en/services/auto_services';"><div><a href="/en/services/auto_services">AUTO SERVICES</a></div></div>
            <div class='cnt2' onclick="window.location='/en/services/retro_cars';"><div><a href="/en/services/retro_cars">RETROAVTO</a></div></div>
            <div class='cnt3' onclick="window.location='/en/services/off_road_cars';"><div><a href="/en/services/off_road_cars">OFF-ROAD <br> CARS</a></div></div>
            <div class='cnt4' onclick="window.location='/en/services/technical_inspection';"><div><a href="/en/services/technical_inspection">TECHNICAL <br>CAR INSPECTION</a></div></div>
             <div class='cnt5' onclick="window.location='/en/services/mototechnics';"><div><a href="/en/services/mototechnics">MOTOR<br> ENGINEERING</a></div></div>
        <% else %>
            <div class='cnt1' onclick="window.location='/services/auto_services';"><div><a href="/services/auto_services">АВТОУСЛУГИ</a></div></div>
            <div class='cnt2' onclick="window.location='/services/retro_cars';"><div><a href="/services/retro_cars">РЕТРОАВТО</a></div></div>
            <div class='cnt3' onclick="window.location='/services/off_road_cars';"><div><a href="/services/off_road_cars">ВНЕДОРОЖНЫЕ<br> АВТОМОБИЛИ</a></div></div>
            <div class='cnt4' onclick="window.location='/services/technical_inspection';"><div><a href="/services/technical_inspection">ТО - ТЕХНИЧЕСКИЙ<br> ОСМОТР АВТОМОБИЛЕЙ</a></div></div>
             <div class='cnt5' onclick="window.location='/services/mototechnics';"><div><a href="/services/mototechnics">МОТОТЕХНИКА</a></div></div>
        <% end %>
        </div>
    </section>
    <%= render "templates/buy" %>
    <%= render "templates/footer" %>
</section>