<section id='block1'>
	<div class='zag'><%= t('services.title_auto') %></div>
	<div class='content'>
	<% if session[:locale] == :en %>
		<div class='cnt6'><div><a href="/en/services/auto_services">auto<br>services</a></div></div>
		<div class='cnt5'><div><a href="/en/services/recycling">RETROAVTO</a></div></div>
		<div class='cnt5'><div><a href="/en/services/recycling">OFF-ROAD <br> CARS</a></div></div>
		<div class='cnt5'><div><a href="/en/services/recycling">TECHNICAL <br>CAR INSPECTION</a></div></div>
	<% else %>
		<div class='cnt6'><div><a href="/services/auto_services">АВТОУСЛУГИ</a></div></div>
		<div class='cnt5'><div><a href="/services/recycling">РЕТРОАВТО</a></div></div>
		<div class='cnt5'><div><a href="/services/recycling">ВНЕДОРОЖНЫЕ<br> АВТОМОБИЛИ</a></div></div>
		<div class='cnt5'><div><a href="/services/recycling">ТО - ТЕХНИЧЕСКИЙ<br> ОСМОТР АВТОМОБИЛЕЙ</a></div></div>
	<% end %>
	</div>
</section>