<!-- Block 4 -->
<section id='block4'>
    <div class='mainnews'>
        <div class='left'>
            <h2 class='zag'><%= t('page_elements.buy') %></h2>
            <div class='pay'>
                    Для размещения заказа Вам достаточно заполнить заявку в правой части экрана. 
                    Мы свяжемся с Вами в ближайшее время и ответим на все возникшие вопросы, поможем выбрать наиболее подходящий вариант в соответствии с вашими требованиями.
                    Мы всегда идем навстречу нашим клиентам и можем предложить гибкие условия оплаты заказа. 
                    Будем рады Вашему обращению в нашу компанию!
            </div>
        </div>
        <div class='right'>
            <h2 class='zag'><%= t('page_elements.write_to_us') %></h2>
            <div class='cont'>
            <%= form_tag("/order", method: "post") do %>
                <%= text_field_tag(:name, nil, placeholder: I18n.t('form.name')) %>
                <%= email_field_tag(:mail, nil, placeholder: I18n.t('form.email')) %>
                <%= telephone_field_tag(:phone, nil, placeholder: I18n.t('form.phone')) %>
                <%= text_area_tag(:message, nil, placeholder: I18n.t('form.message')) %>
                <div class="g-recaptcha" id="id-recaptcha-main" data-sitekey="6LcqKxoUAAAAAK4EFK34_u_3tsTTwDk5GkzMYCpH" style="width: 304px; margin: 0 auto;"></div>
                <a href="/agreement" target="_blank" class="e-agreement-href"><%= t('page_elements.agreement') %></a>
                <div class="e-checkbox-block">
                    <input type="checkbox" id="id-agree-checkbox" class="e-checkbox" name="agree-checkbox" value="1" onchange="document.getElementById('sendPopupDataBtnBuyForm').disabled = !document.getElementById('sendPopupDataBtnBuyForm').disabled;" checked>
                    <label for="id-agree-checkbox" class="e-checkbox-label"><%= t('page_elements.agreement_text') %></label>
                </div>
                <%= submit_tag(I18n.t('page_elements.send_message_btn'), class: 'form-button', id: 'sendPopupDataBtnBuyForm', :onclick => "yaCounter39337790.reachGoal('zayavka_SVP');", disabled: false) %>
            <% end %>
            </div>
        </div>
        <script type="text/javascript">
            onloadCallback();
        </script>
        <div class='clr'></div>
    </div>
</section>
