<section id='about2' class="b-content-item">
    <div class='about2 b-content-item-wrapper'>
        <h1 class='zag'><%= @items.title %></h1>
        <div class='text'><%= @items.text.html_safe %></div>
    </div>
</section>