<section class="b-catalog">
    <div class='b-catalog-wrapper'>
        <h1 class='zag'><%= t("page.catalog") %></h1>
        <div class='line'></div>
        <div class='position'><a href="/"><%= t("page.main") %></a> | <%= @service.title %></div>
        <div><a href="/certificates" class='e-certificates-btn'>Разрешительная документация</a></div>
        <main class='b-catalog'>
            <ul class='b-catalog-grid'>
                <% @items.each do |v| %>
                    <li class='b-catalog-item'>
                        <div class='b-catalog-block'>
                            <a href="/services/<%= @service.url %>/<%= v.url %>">
                                <div class='img'>
                                    <img src="<%= v.image %>" alt="<%= v.title %>">
                                </div>
                            </a>
                            <div class='zag-text'>
                                <a href="/services/<%= @service.url %>/<%= v.url %>"><%= v.title %></a>
                            </div>
                        </div>
                    </li>
                <% end %>
                <li class="b-catalog-item-helper"></li>
            </ul>
        </main>
    </div>
</section>

