<section id='content'>
    <div class='content'>
        <h1 class='zag'><%= @certificate.text_title %></h1>
        <div class='line'></div>
        <div class='position'><a href="/"><%= t("page.main") %></a> | <a href="/news"><%= t("page.certificates") %></a></div>
        <main>
            <div class='content2 e-content-news'>
                <%= @certificate.text.html_safe %>
                <div class='clr'></div>
            </div>
        </main>
    </div>
</section>