<div class="b-company">
	<div class="b-company-left">

		<%= image_tag("company/logo.png", :alt => "") %>
		<div class="b-company-left-wrapper">
			<strong><%= t("page.about") %></strong>
			<span class="b-company-left-wrapper-text">
				Компания «Техносервис» является единственным разработчиком и производителем специальных <br>транспортных средств для шахтной промышленности и одной из крупнейших на российском рынке по<br> глубокой модернизации легковых, внедорожных и грузовых автомобилей. Шахтная транспортная техника<br>компании «Техносервис», оборудуется отечественными и импортными силовыми агрегатами и <br>комплектующими, обладает высокой экологичностью, ремонто-пригодностью, надежностью, а также <br>низкой ценой, что выгодно отличает ее от импортных аналогов.<br><br>

				Мы предлагаем большой выбор силовых агрегатов - бензиновые и дизельные с механическими и<br> автоматическими коробками передач фирмы TOYOTA и ISUZU для установки на автомобили отечественного<br>производства, отличающиеся высокой надежностью. Вся производимая техника сертифицирована, имеются одобрения типа транспортного средства.<br>
				Мы представляем новое направление деятельности компании - разработка, производство, продажа,<br> 
				сервисное обслуживание судов на воздушной подушке (СВП), а так же ремонт всех видов водного транспорта.<br>
				Одним из направлений нашей деятельности является производство и продажа рукавов высокого давления (РВД) любых типов для автомобильной, <br>сельскохозяйственной и спецтехники, по требованию заказчика, ремонт РВД и шлангов гидроусилителей <br>руля для всех типов автомобилей.
			</span>
		</div>
	</div>
	<div class="b-company-right">
		<div class="b-company-right-wrapper">
			<strong>НАШИ ПРЕИМУЩЕСТВА</strong>

			<ul class="b-company-right-wrapper-advantages">
				<li>
					<%= image_tag("company/1.png", :alt => "") %>
					<span>Производство и продажа рукавов высокого давления (РВД) любых типов для автомобильной, сельскохозяйственной и спецтехники, по требованию заказчика. Ремонт РВД и шлангов гидроусилителей руля для всех типов автомобилей.</span>
				</li>

				<li class="e-advantages-right">
					<span>Производство и продажа рукавов высокого давления (РВД) любых типов для автомобильной, сельскохозяйственной и спецтехники, по требованию заказчика. Ремонт РВД и шлангов гидроусилителей руля для всех типов автомобилей.</span>
					<%= image_tag("company/2.png", :alt => "") %>
				</li>

				<li>
					<%= image_tag("company/3.png", :alt => "") %>
					<span>Производство и продажа рукавов высокого давления (РВД) любых типов для автомобильной, сельскохозяйственной и спецтехники, по требованию заказчика. Ремонт РВД и шлангов гидроусилителей руля для всех типов автомобилей.</span>
				</li>

				<li class="e-advantages-right">
					<span>Производство и продажа рукавов высокого давления (РВД) любых типов для автомобильной, сельскохозяйственной и спецтехники, по требованию заказчика. Ремонт РВД и шлангов гидроусилителей руля для всех типов автомобилей.</span>
					<%= image_tag("company/4.png", :alt => "") %>
				</li>
			</ul>
		</div>
	</div>

	<div class="b-company-footer">
		<div class="b-company-footer-left"></div>
		<div class="b-company-footer-right"></div>
	</div>
</div>