<footer>
    <div type="button" class="callback-bt">
        <a class="e-callback-bt-tel call-button"><div class="text-call">
            <i class="fa fa-phone"></i>
            <span>Заказать<br>звонок</span>
        </div></a>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            if( navigator.userAgent.match(/Android/i)
                 || navigator.userAgent.match(/webOS/i)
                 || navigator.userAgent.match(/iPhone/i)
                 || navigator.userAgent.match(/iPad/i)
                 || navigator.userAgent.match(/iPod/i)
                 || navigator.userAgent.match(/BlackBerry/i)
                 || navigator.userAgent.match(/Windows Phone/i)
            ) {
                $(".e-callback-bt-tel").attr("href", "tel:+78314290222")
            }

            $(".callback-bt").on("click", function(){
                if( navigator.userAgent.match(/Android/i)
                 || navigator.userAgent.match(/webOS/i)
                 || navigator.userAgent.match(/iPhone/i)
                 || navigator.userAgent.match(/iPad/i)
                 || navigator.userAgent.match(/iPod/i)
                 || navigator.userAgent.match(/BlackBerry/i)
                 || navigator.userAgent.match(/Windows Phone/i)
                 ) {
                } else {
                    var target = $(this).attr("data-modal-target");
                    $('[data-modal="'+target+'"]').addClass("modal-visible");
                }
                yaCounter39337790.reachGoal('call_action');
            });
        });
    </script>
    <div class='footer'>
        <div class='logo'><a href="/"><%= image_tag("logo-footer.png", :alt => @header_alt) %></a></div>
        <div class='phone'>
            <a class='call-button'><%= t('page_elements.request_call') %></a>
            <div class='text'><a href='tel:+78314290222'><span class="e-phone1">+7 (831)</span><span class="e-phone2">429-02-22</span></a></div>
        </div>
        <div class='find'>
            <div class="e-sn-links">
                <a href="https://www.facebook.com/tsavtocom/" target="_blank"><%= image_tag("fb.png", :alt => "tsauto fb", class: "e-sn-img") %></a>
                <a href="https://vk.com/tsavto_com" target="_blank"><%= image_tag("vk.png", :alt => "tsauto vk", class: "e-sn-img") %></a>
                <a href="https://www.youtube.com/channel/UCp9iUPOW3PyPRLXnjBjs3Fg" target="_blank"><%= image_tag("yt.png", :alt => "tsauto yt", class: "e-sn-img") %></a>
            </div>
            <a href="<%= locale_path_helper('/sitemap') %>">Карта сайта</a>
            <div class='copyright'><a href="/contacts#contacts-map">© 2005 - 2016  Техносервис<br>603104, г. Н.Новгород, ул. Нартова, 6 (з-д "Орбита")</a></div>
        </div>
        <div class='clr'></div>
        <div class="b-footer-links">
            <ul class="e-footer-links-items">
                <li class="e-footer-links-item">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/about">О компании</a></li>
                        <li><a href="/services">Продукция и услуги</a></li>
                        <li><a href="/news">Новости</a></li>
                        <li><a href="/galleries">Галерея</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                    </ul>
                </li>
                <li class="e-footer-links-item">
                    <ul>
                        <li><a href="/services/vehicles_for_mines">Транспортные средства для шахт</a></li>
                        <li><a href="/services/forestry_equipment">Лесозаготовительная техника</a></li>
                        <li><a href="/services/power_aggregators">Силовые агрегаторы</a></li>
                        <li><a href="/services/hovercrafts">Амфибийные суда</a></li>
                        <li><a href="/services/recycling">Утилизация отходов</a></li>
                        <li><a href="/services/auto">Автоуслуги</a></li>
                    </ul>
                </li>
                <li class="e-footer-links-item">
                    <ul>
                        <li><a href="/services/retro_cars">Ретро автомобили</a></li>
                        <li><a href="/services/off_road_cars">Внедорожные автомобили</a></li>
                        <li><a href="/services/technical_inspection">ТО автомобилей</a></li>
                        <li><a href="/services/mototechnics">Мототехника</a></li>
                    </ul>
                </li>
                <li class="e-footer-links-item">
                    <ul>
                        <li><a href="/services/hovercrafts/sudno-na-vozdushnoy-podushke-pegas-5-v-rossii">СВП Пегас 5 в России</a></li>
                        <li><a href="/services/hovercrafts/sudno-na-vozdushnoy-podushke-aerodzhet-8">СВП Аэроджет 8</a></li>
                        <li><a href="/services/hovercrafts/sudno-na-vozdushnoy-podushke-mirazh">СВП Мираж</a></li>
                        <li><a href="/services/hovercrafts/sudno-na-vozdushnoy-podushke-poseydon-20t">СВП Посейдон 20Т</a></li>
                        <li><a href="/services/hovercrafts/lodka-amfibiya-ribohod-710">Лодка-амфибия РИБоход 710</a></li>
                    </ul>
                </li>
                <li class="e-footer-links-item-helper"></li>
            </ul>
        </div>
    </div>
    <div style="display:none;">
    <div itemscope itemtype="http://schema.org/LocalBusiness">
        <div>
            <a href="https://www.tsavto.com/" itemprop="url">
                <%= image_tag("logo_micro.png", :alt => "Компания Техносервис - разработчика и производство специальных транспортных средств для шахтной промышленности, cуда на воздушной подушке и модернизации легковых, внедорожных и грузовых автомобилей.") %>
            </a>
        </div>
        <div itemprop="name">Техносервис</div>
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">г. Нижний Новгород,</span>
            <span itemprop="streetAddress">603104, ул. Нартова, 6 (з-д "Орбита")</span>
            <span itemprop="telephone">+7 (831) 429-02-22</span>
            <span itemprop="email">mail@tsauto.nnov.ru</span>
            <div itemprop="hoursAvailable" itemscope="" itemtype="http://schema.org/OpeningHoursSpecification">
                <span itemprop="dayOfWeek">пн-пт с <time content="09:00:00" itemprop="opens">9:00</time> до <time content="18:00:00" itemprop="closes">18:00</time></span>
            </div>
        </div>
        <div itemscope="" itemtype="http://schema.org/Brand" itemprop="brand">
          <a href="https://www.tsavto.com/" itemprop="url">
            <span itemprop="name">Техносервис</span>
             <%= image_tag("logo_micro.png", :alt => "Логотип компании Техносервис") %>
          </a>
        </div>
        <span itemprop="priceRange">RUB</span>
    </div>
    <div class="vcard">
        <%= image_tag("logo_micro.png", :alt => "Логотип компании Техносервис", :class => "photo") %>
        <span class="title">Компания Техносервис - производство судов на воздушной подушке</span> 
        <span class="category">Производство</span> 
        <span class="fn org">Manufacturing SVP</span>
        <span class="workhours">пн-пт 09:00-18:00</span> 
        <span class="phone tel">+7 (831) 429-02-22</span> 
        <span class="email">mail@tsauto.nnov.ru</span>
        <span class="description">Группа компаний «Техносервис» ведет свою деятельность с 1993 года, производим шахтную, лесозаготовительную технику, суда на воздушной подушке и выполняем другие виды услуг</span> 
        <span class="geo"> 
            <span class="latitude">
                <span class="value-title" title="56.2892338"> </span> 
            </span> 
            <span class="longitude"> 
                <span class="value-title" title="43.99580149999997"> </span> 
            </span>
        </span>
        <div class="adr">
            <span class="locality">г.Нижний Новгород</span> 
            <span class="street-address">ул. Нартова, 6 (з-д "Орбита")</span>
        </div>
        <span class="url"> 
            <span class="value-title" title="https://www.tsavto.com/"> </span> 
        </span> 
        <span class="pricerange">RUB</span>
    </div>
    <div itemscope="" itemtype="http://schema.org/Brand">
        <a href="https://www.tsavto.com/" itemprop="url">
            <span itemprop="name">Компания Техносервис - производство судов на воздушной подушке</span>
            <%= image_tag("logo_micro.png", :alt => "Логотип компании Техносервис", :itemprop => "logo") %>
        </a>
    </div>
    <div class="postheader" itemscope="" itemtype="http://schema.org/WPHeader">
        <div itemprop="headline">Компания Техносервис - производство судов на воздушной подушке.</div>
        <div id="header_slogan" itemprop="description">Группа компаний «Техносервис» ведет свою деятельность с 1993 года, производим шахтную, лесозаготовительную технику, суда на воздушной подушке и выполняем другие виды услуг.</div>
        <div class="header-name" itemprop="name">Компания Техносервис</div>
    </div>
    <div itemscope="" itemtype="https://schema.org/Organization">
        <span itemprop="name">Компания Техносервис - производство судов на воздушной подушке</span> 
        <span itemprop="description">Группа компаний «Техносервис» ведет свою деятельность с 1993 года, производим шахтную, лесозаготовительную технику, суда на воздушной подушке и выполняем другие виды услуг.</span> 
        <span><a href="https://www.tsavto.com/" itemprop="url">https://www.tsavto.com/</a></span> 
        <span itemprop="email">mail@tsauto.nnov.ru</span>
        <div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
            <a href="https://www.tsavto.com/">
                <%= image_tag("logo_micro.png", :alt => "Логотип компании Техносервис", :itemprop => "image", :class => "photo") %>
            </a> 
            <meta itemprop="width" content="100"> 
            <meta itemprop="height" content="100">
        </div>
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">Нижний Новгород</span> 
            <span itemprop="streetAddress">ул. Нартова, 6 (з-д "Орбита")</span> 
            <span itemprop="telephone">+7 (831) 429-02-22</span>
            <div itemprop="hoursAvailable" itemscope="" itemtype="http://schema.org/OpeningHoursSpecification">
                <span class="workhours" itemprop="dayOfWeek">пн-пт <time content="09:00:00" itemprop="opens">09:00</time> до <time content="18:00:00" itemprop="closes">18:00</time></span>
            </div>
        </div>
    </div>
</div>

</footer>