<%= render "templates/popup" %>
<%= render "templates/photo" %>

<div id='main-nav'><div class='logo'><div><a href="/"><%= image_tag("logo1.png", :alt => @header_alt) %></a>
	<div class="e-header-small-menu">
        <div class="e-header-small-menu-item"></div>
        <div class="e-header-small-menu-item"></div>
        <div class="e-header-small-menu-item"></div>
    </div>
</div></div></div>
<div class="b-header-mob-menu">
	<div class="e-langs">
		<a href="<%= set_en_locale_path_helper %>" class="lang ">EN</a>
		<a href="<%= set_ru_locale_path_helper %>" class="lang active">RU</a>
	</div>
	<ul>  
		<li><a href="/contacts">Контакты</a></li>
		<li><a href="/services/hovercrafts">Cуда на воздушной подушке</a></li>
		<li><a href="/services/vehicles_for_mines">Транспорт для шахт</a></li>
		<li><a href="/services/recycling">Утилизация отходов</a></li>
		<li><a href="/services/forestry_equipment">Лесозаготовительная техника</a></li>
		<li><a href="/services/technical_inspection">ТО - техосмотр</a></li>
		<li><a href="/services/mototechnics">Мототехника</a></li>
		<li><a href="/services/retro_cars">Ретроавто</a></li>
		<li><a href="/news">Новости</a></li>
		<li><a href="/about">О компании</a></li>
		<li><a href="/sitemap">Карта сайта</a></li>
	</ul>
</div>
<!-- Header -->
<header>
	<div class='logo'><div><a href="/"><%= image_tag("logo1.png", :alt => @header_alt) %></a>
		<div class="e-header-small-menu">
	        <div class="e-header-small-menu-item"></div>
	        <div class="e-header-small-menu-item"></div>
	        <div class="e-header-small-menu-item"></div>
	    </div>
	</div>
	</div>
	<div class='phone'>
		<a class='call-button'><%= t('page_elements.request_call') %></a>
		<div class='text'><a href='tel:+78314290222'><span class="e-tel1">+7 (831)</span><span class="e-tel2">429-02-22</span></a></div>
		<div class='e-langs'>
			<a href="<%= set_en_locale_path_helper %>" class='lang <%= "active" if session[:locale] == :en %>'>EN</a>
			<a href="<%= set_ru_locale_path_helper %>" class='lang <%= "active" if session[:locale] == :ru %>'>RU</a>
		</div>	
	</div>
	<nav>
		<ul>
			<% if session[:locale] == :en %>
			    <li><a class="e-menu-item" href="/en"><%= t('mainmenu.item1') %></a></li>
				<li><a class="e-menu-item" href="/en/about"><%= t('mainmenu.item2') %></a></li>
				<li><a class="e-menu-item" href="/en/services"><%= t('mainmenu.item3') %></a></li>
				<li><a class="e-menu-item" href="/en/news"><%= t('mainmenu.item4') %></a></li>
				<li><a class="e-menu-item" href="/en/contacts"><%= t('mainmenu.item5') %></a></li>
            <% else %>
                <li><a class="e-menu-item" href="/"><%= t('mainmenu.item1') %></a></li>
				<li><a class="e-menu-item" href="/about"><%= t('mainmenu.item2') %></a></li>
				<li><a class="e-menu-item" href="/services"><%= t('mainmenu.item3') %></a></li>
				<li><a class="e-menu-item" href="/news"><%= t('mainmenu.item4') %></a></li>
				<li><a class="e-menu-item" href="/contacts"><%= t('mainmenu.item5') %></a></li>
            <% end %>
		</ul>
	</nav>
</header>