<div class="b-mainnews">
	<div class="b-mainnews-wrapper">
		<div class="b-news-left">
			<div class="b-news-left-wrapper">
				<strong><%= t('page.news') %></strong>
			</div>
		</div>
		<div class="b-form-right">
			<div class="b-form-right-wrapper">
				<strong><%= t('page_elements.write_to_us') %></strong>
			</div>
		</div>
	</div>
</div>