<!-- Slider -->
<section id='slider'>
	<ul class="rslides">
		<li style='background:url(<%= asset_path "slider/slide2.png" %>) top center no-repeat;background-size:cover;'>
			<div><span class="b-slider-text"><%= t('slider.slide1_1') %> </span><br><span class="b-slider-text"> <%= t('slider.slide1_2') %></span><a href="<%= locale_path_helper('/services/vehicles_for_mines') %>"><%= t('slider.goto') %></a></div>
		</li>
		<li style='background:url(<%= asset_path "slider/slide4.png" %>) top center no-repeat;background-size:cover;'>
			<div><span class="b-slider-text"><%= t('slider.slide2_1') %></span><br> <span class="b-slider-text"><%= t('slider.slide2_2') %></span><a href="<%= locale_path_helper('/services/forestry_equipment') %>"><%= t('slider.goto') %></a></div>
		</li>
		<li style='background:url(<%= asset_path "slider/slide5.png" %>) top center no-repeat;background-size:cover;'>
			<div><span class="b-slider-text"><%= t('slider.slide3_1') %></span><br> <span class="b-slider-text"><%= t('slider.slide3_2') %></span><a href="<%= locale_path_helper('/services/retro_cars') %>"><%= t('slider.goto') %></a></div>
		</li>
		<li style='background:url(<%= asset_path "slider/slide1.png" %>) top center no-repeat;background-size:cover;'>
			<div><span class="b-slider-text"><%= t('slider.slide4_1') %></span><br> <span class="b-slider-text"><%= t('slider.slide4_2') %></span><a href="<%= locale_path_helper('/services/hovercrafts') %>"><%= t('slider.goto') %></a></div>
		</li>
		<li style='background:url(<%= asset_path "slider/slide6.png" %>) top center no-repeat;background-size:cover;'>
			<div><span class="b-slider-text"><%= t('slider.slide5_1') %></span><br> <span class="b-slider-text"><%= t('slider.slide5_2') %></span><a href="<%= locale_path_helper('/services/recycling') %>"><%= t('slider.goto') %></a></div>
		</li>
		<li style='background:url(<%= asset_path "slider/slide7.png" %>) top center no-repeat;background-size:cover;'>
			<div><span class="b-slider-text"><%= t('slider.slide6_1') %></span><br> <span class="b-slider-text"><%= t('slider.slide6_2') %></span><a href="<%= locale_path_helper('/services/mototechnics') %>"><%= t('slider.goto') %></a></div>
		</li>
	</ul>
</section>