<div class="b-mainphotogallery">
	<div class="b-mainphotogallery-wrapper">
		<strong class="b-mainphotogallery-header"><%= t('page.gallery') %></strong>
		<ul class="b-mainphotogallery-content">
			<li><%= image_tag("mainphotogallery/gallery_bg.png", :alt => "" class: "b-mainphotogallery-img") %></li>
			<li><%= image_tag("mainphotogallery/gallery_bg.png", :alt => "" class: "b-mainphotogallery-img") %></li>
			<li><%= image_tag("mainphotogallery/gallery_bg.png", :alt => "" class: "b-mainphotogallery-img") %></li>
			<li class="e-helper"></li>
		</ul>
		<div class="b-mainphotogallery-footer"<%= image_tag("mainphotogallery/photo.png", :alt => "") %><button>ПЕРЕЙТИ В ГАЛЕРЕЮ</button></div>
	</div>
</div>