<div class="b-mainmenu">
    <div class="b-mainmenu-fill"></div>
    <div class="b-contact-header-wrapper">
        <div class="e-contact-header-left">
            <div class="e-phone">
                <span><%= t('page_elements.request_call') %></span>
            </div>
        </div>
        <div class="e-contact-header-center">
            <span class="e-phone-first">+7(831)</span><span class="e-phone-second">429-02-22</span>
        </div>
        <div class="e-contact-header-right">
            <span class="e-lang-ru e-lang-curent">RU</span>
            <span class="e-lang-en">EN</span>
        </div>
    </div>
    <div class="b-menu">
        <ul>
            <li><a href="/">ГЛАВНАЯ</a></li>
            <li><a href="/about">О КОМПАНИИ</a></li>
            <li><a href="/services">ПРОДУКЦИЯ И УСЛУГИ</a></li>
            <li><a href="/gallery">ФОТОГАЛЕРЕЯ</a></li>
            <li class="e-menu-item-last"><a href="/contacts">КОНТАКТЫ</a></li>
        </ul>
    </div>
</div>