
<div class="b-popup-parent"></div>
<div class="b-popup-close">X</div>
<div class="b-popup">
	<div class="e-popup-wrapper">
		<div class='zag'><%= t('page_elements.request_call') %></div>
        <div class='cont'>
        <%= form_tag("/order", method: "post") do %>
            <%= text_field_tag(:name, nil, placeholder: I18n.t('form.name')) %>
            <%= telephone_field_tag(:phone, nil, placeholder: I18n.t('form.phone')) %>
            <%= text_area_tag(:message, nil, placeholder: I18n.t('form.message')) %>
            <div class="g-recaptcha" data-sitekey="6LcqKxoUAAAAAK4EFK34_u_3tsTTwDk5GkzMYCpH"></div>
            <a href="/agreement" target="_blank" class="e-agreement-href"><%= t('page_elements.agreement') %></a>
            <div class="e-checkbox-block">
                <input type="checkbox" id="id-agree-checkbox" class="e-checkbox" name="agree-checkbox" value="1" onchange="document.getElementById('sendPopupDataBtnPopup').disabled = !document.getElementById('sendPopupDataBtnPopup').disabled;" checked>
                <label for="id-agree-checkbox" class="e-checkbox-label"><%= t('page_elements.agreement_text') %></label>
            </div>
            <%= submit_tag(I18n.t('page_elements.send_message_btn'), class: 'form-button', id: 'sendPopupDataBtnPopup', :onclick => "yaCounter39337790.reachGoal('zayavka_SVP');", disabled: false) %>
        <% end %>
        </div>
	</div>
</div>
