<!-- Block 1 -->
<section id='block1'>
	<h2 class='zag'><%= t('services.title') %></h2>
	<div class='content'>
		<% if session[:locale] == :en %>
			<div class='cnt1' onclick="window.location='/en/services/vehicles_for_mines';"><div><a href="/en/services/vehicles_for_mines">vehicles for mines</a></div></div>
			<div class='cnt2' onclick="window.location='/en/services/forestry_equipment';"><div><a href="/en/services/forestry_equipment">forestry equipment</a></div></div>
			<div class='cnt3' onclick="window.location='/en/services/power_aggregators';"><div><a href="/en/services/power_aggregators">power <br>aggregators</a></div></div>
			<div class='cnt4' onclick="window.location='/en/services/hovercrafts';"><div><a href="/en/services/hovercrafts">hovercrafts</a></div></div>
			<div class='cnt5' onclick="window.location='/en/services/recycling';"><div><a href="/en/services/recycling">recycling</a></div></div>
			<div class='cnt6' onclick="window.location='/en/services/auto';"><div><a href="/en/services/auto">auto<br>services</a></div></div>
		<% else %>
			<div class='cnt1' onclick="window.location='/services/vehicles_for_mines';"><div><a href="/services/vehicles_for_mines">ТРАНСПОРТНЫЕ<br>СРЕДСТВА ДЛЯ ШАХТ</a></div></div>
			<div class='cnt2' onclick="window.location='/services/forestry_equipment';"><div><a href="/services/forestry_equipment">ЛЕСОЗАГОТОВИТЕЛЬНАЯ<br>ТЕХНИКА</a></div></div>
			<div class='cnt3' onclick="window.location='/services/power_aggregators';"><div><a href="/services/power_aggregators">СИЛОВЫЕ АГРЕГАТЫ</a></div></div>
			<div class='cnt4' onclick="window.location='/services/hovercrafts';"><div><a href="/services/hovercrafts">АМФИБИЙНЫЕ<br>СУДА</a></div></div>
			<div class='cnt5' onclick="window.location='/services/recycling';"><div><a href="/services/recycling">УТИЛИЗАЦИЯ ОТХОДОВ</a></div></div>
			<div class='cnt6' onclick="window.location='/services/auto';"><div><a href="/services/auto">АВТОУСЛУГИ</a></div></div>
		<% end %>
	</div>
</section>