<section id='content'>
    <div class='content'>
        <h1 class='zag'><%= @service.title %></h1>
        <div class='line'></div>
        <div class='position'><a href="/"><%= t('page.main') %></a> | <%= @service.title %></div>
        <main>
            <!--
            <% if @service.contentblock1? %>
                <div class='content1'>
                    <div class='photo'>
                        <a href="#"></a>
                        <div class='photo-img all02'>
                            <% if @service.contentimage1_file_name %>
                                <img src="<%= @service.contentimage1 %>" alt="" >
                            <% else %>
                                <%= image_tag("photos/photo1.jpg", :alt => "") %>
                            <% end %>
                        </div>
                    </div>
                   <%= @service.contentblock1.html_safe %>
                    <div class='clr'></div>
                </div>
            <% end %>
            <% if @service.contentblock2? %>
                <div class='content2'>
                        <div class='photo'>
                            <a href="#"></a>
                            <div class='photo-img all02'>
                                <% if @service.contentimage2_file_name %>
                                    <img src="<%= @service.contentimage2 %>" alt="" >
                                <% else %>
                                    <%= image_tag("photos/photo1.jpg", :alt => "") %>
                                <% end %>
                            </div>
                        </div>
                         <%= @service.contentblock2.html_safe %>
                        <div class='clr'></div>
                </div>
            <% end %>
            -->
           
            <div class='content1'>
                <%= @service.text.html_safe %>
                <div class='clr'></div>
            </div>
        </main>
    </div>
</section>

<!--
<% if @service.article_title? %>
    <section id='about2'>
        <div class='about2'>
            <div class='zag'><%= @service.article_title %></div>
            <div class='text'>
                <%= @service.text.html_safe %>
            </div>
        </div>
    </section>
<% end %>
-->