<div class="b-agreement">
    <h1 class="e-agreement-title">Пользовательское соглашение</h1>
    <div class="e-agreement-text-wrapper">
        <div class="e-agreement-text">
            Я даю свое согласие ООО ТехноТОР, с местом нахождения: г. Нижний Новгород, 603104, ул.<br>
            Нартова, д. 6 (далее — ООО ТехноТОР), на сбор, запись, систематизацию, накопление, хранение,<br>
            уточнение (обновление, изменение),извлечение, использование, обезличивание, блокирование,<br>
            удаление и уничтожение, в том числе автоматизированные, своих персональных данных в<br>
            специализированной электронной базе данных о моих контактных данных, которые могут быть<br>
            использованы ООО ТехноТОР при информировании меня о продуктах и услугах, предложения мне<br>
            продуктов и услуг ООО ТехноТОР, при условии гарантии неразглашения данной информации<br>
            третьим лицам.<br><br>

            Я согласен на предоставление мне информации и предложение продуктов путем направления<br>
            почтовой корреспонденции, посредством электронной почты, телефонных обращений, SMS-<br>
            сообщений.<br><br>

            Данное согласие действует с момента подписания настоящего заявления в течение срока<br>
            предоставления ООО ТехноТОР услуг и пяти лет после прекращения указанных услуг. По<br>
            истечении указанного срока действие настоящего заявления считается продленным на каждые<br>
            следующие пять лет при отсутствии у ООО ТехноТОР сведений о его отзыве.<br><br>

            Я согласен с использованием моих персональных данных для обработки данного обращения.<br>
        </div>
    </div>
</div>
