<section id='main'>
<%= render "templates/header" %>

<!-- NEWS -->
<section id='news'>
    <div class='news'>
        <h1 class='zag'><%= t("page.news") %></h1>
        <div class='line'></div>
        <div class='position'><a href="/"><%= t("page.main") %></a> | <%= t("page.news") %></div>
        <main>
            <% @news.each do |n| %>
                <div class='fullnews'>
                    <a href="/news/<%=n.url%>">
                        <div class='img'>
                            <div class='date'>
                                <span><%= n.created_at.strftime("%d") %></span><%= I18n.l(n.created_at, format: "%B") %>
                            </div>
                            
                            <% if n.image_file_name %>
                                <img src="<%= n.image %>" alt="">
                            <% else %>
                                <%= image_tag("photos/photo2.png", :alt => "") %>
                            <% end %>
                        </div>
                    </a>
                    <div class='zag-text'><a href="/news/<%=n.url%>"><%= n.title %></a></div>
                </div>
            <% end %>   
            
            <div class='clr'></div>
            <div class='newsbutton'><a href="#"></a></div>
            <div class='text'>ПОКАЗАТЬ ЕЩЕ</div>
        </main>
    </div>
</section>

<%= render "templates/buy" %>
<%= render "templates/footer" %>

</section>