<div class="b-body">
    <%= render "templates/header" %>

    <section class='b-contacts'>
        <div class='b-contacts-wrapper'>
            <h1 class='zag'><%= t("page.contacts") %></h1>
            <div class='line'></div>
            <div class='position'><a href="/"><%= t("page.main") %></a> | <%= t("page.contacts") %></div>
            <main>
                <div class="e-main-contacts-wrapper">
                    <div class="e-main-contacts-address">
                        <%= image_tag("contacts/ll4.png", :alt => "") %>
                        <span>603104, Нижний Новгород, <br>ул. Нартова д.6 (Завод "Орбита")</span>
                    </div>
                    <div class="e-main-contacts-phone">
                        <%= image_tag("contacts/ll5.png", :alt => "", :class => "e-main-contacts-phone-num-img2") %>
                        <span class="e-main-contacts-phone-text">Многоканальный номер <br>компании Техносервис</span>
                        <div class="e-main-contacts-phone-num">
                            <a href='tel:+78314290222'><%= image_tag("contacts/ll5.png", :alt => "", :class => "e-main-contacts-phone-num-img1") %></a>
                            <span><a href='tel:+78314290222'>8-831-429-02-22</a><br><a href="mailto:info@tsauto.nnov.ru">info@tsauto.nnov.ru</a> </span>
                        </div>
                    </div>
                    <div class='clr'></div>
                </div>  
            </main>

            <main class="b-contacts-row-wrapper">
                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">Секретарь</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+78314290222' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+78314290222'>8-831-429-02-22</a></span></div>
                    <!--<div class="b-contacts-col"><i class="e-ico-email"></i><span class="e-text-cont e-text-email">email</span></div>-->
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">СВП – Валерий Иванович Диденко</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79503523346' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79503523346'>8-950-352-33-46</a><span class="e-text-phone-internal">вн. номер 161</span></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">Лесная техника - Белокопытов Дмитрий Александрович</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79107940867' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79107940867'>8-910-794-08-67</a></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">Шахтная техника – Кормилицин Александр Викторович</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79103822061' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79103822061'>8-910-382-20-61</a><span class="e-text-phone-internal">вн. номер 141</span></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">СВП - Игорь Чернышов</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79202507377' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79202507377'>8-920-250-73-77</a><span class="e-text-phone-internal">вн. номер 149</span></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">Утилизация отходов – Вагин Андрей</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79200292200' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79200292200'>8-920-029-22-00</a></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">Ремонт и обслуживание автомобилей, переоборудование УАЗ, – Пономарев Алексей</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79103988987' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79103988987'>8-910-398-89-87</a></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">Ретроавтомобили ГАЗ (Волга, Победа) – Земсков Дмитрий</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79107940869' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79107940869'>8-910-794-08-69</a><span class="e-text-phone-internal">вн. номер 130</span></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">Ретроавтомобили ГАЗ (Волга, Победа) - Чернышов Игорь</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79202507377' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79202507377'>8-920-250-73-77</a></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">Гостехосмотр – Лещева Екатерина</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+78314102817' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+78314102817'>8-831-410-28-17</a></span></div>
                </div>

                <div class="b-contacts-row">
                    <div class="b-contacts-col"><i class="e-ico-cont"></i><span class="e-text-cont e-text-info">РИБОХОД – Белокопытов Дмитрий</span></div>
                    <div class="b-contacts-col e-contacts-col-phone"><a href='tel:+79107940867' class="e-ico-phone-href"><i class="e-ico-cont-phone"></i></a><span class="e-text-cont e-text-phone"><a href='tel:+79107940867'>8-910-794-08-67</a><span class="e-text-phone-internal">вн. номер 182</span></span></div>
                </div>

                <div class='clr'></div>
            </main>
        </div>
        <div class="e-main-contacts-map" id="contacts-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35416.210620856335!2d43.97282869938466!3d56.3037162101988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4151d56de4d1a793%3A0x9e87236db1684ce2!2z0JPQmiAi0KLQtdGF0L3QvtGB0LXRgNCy0LjRgSI!5e0!3m2!1sru!2sru!4v1574634757742!5m2!1sru!2sru" width="100%" height="420" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </section>
    <%= render "templates/buy" %>
    <%= render "templates/footer" %>
</div>