<section id='main'>
<%= render "templates/header" %>

<!-- NEWS -->
<section id='news'>
    <div class='news'>
        <h1 class='zag'><%= t("page.gallery") %></h1>
        <div class='line'></div>
        <div class='position'><a href="/"><%= t("page.main") %></a> | <%= t("page.gallery") %></div>
        <main>
            <% @albums.each do |a| %>
                <div class='fullnews'>
                    <a href="/galleries/<%=a.url%>">
                        <div class='img'>
                            <% if a.image_file_name %>
                                <img src="<%= a.image %>" alt="">
                            <% else %>
                                <%= image_tag("photos/photo2.png", :alt => "") %>
                            <% end %>
                        </div>
                    </a>
                    <div class='zag-text'><a href="/galleries/<%=a.url%>"><%= a.title %></a></div>
                </div>
            <% end %>
            <div class='clr'></div>
            <div class='newsbutton'><a href="#"></a></div>
            <div class='text'>ПОКАЗАТЬ ЕЩЕ</div>
        </main>
    </div>
</section>

<%= render "templates/buy" %>
<%= render "templates/footer" %>

</section>