<%= render "templates/header" %>
<div class="b-page404">
    <div class="b-page404-header"></div>
    <div class="b-page404-wrapper">
        <h1 class="e-title">ОШИБКА 404</h1>
        <span class="e-text e-text-desktop">Кажется, запрашиваемая вами страница не существует.<br>Попробуйте вернуться на главную страницу.</span>
        <span class="e-text e-text-mobile">Кажется, запрашиваемая вами страница<br>не существует. Попробуйте вернуться на<br> главную страницу.</span>
    </div>
    <a class="e-back-btn" href="/">Перейти на главную</a>
</div>
<%= render "templates/footer" %>