<section id='main'>

<%= render "templates/header" %>

<section id='photo'>
    <div class='photon'>
        <h1 class='zag'><%= @header %></h1>
        <div class='line'></div>
        <div class='position'><a href="/"><%= t("page.main") %></a> | <a href="/galleries"><%= t("page.gallery") %></a> | <%=  @header %></div>
        <main>
            <div class='photos-text'>
                <%=  @info.html_safe %>
            </div>
            <div class='photos'>
                <% @images.each do |i| %>
                    <div class='photo'>
                        <a class="e-show-img-photo"></a>
                        <a href="<%= i.image %>" data-fancybox class="all02 photo-img">
                            <img class="" src="<%= i.image %>" alt="<%= i.title %>">
                            <% if i.image_file_name %>
                                <img class="e-view-img" src="<%= i.image %>" alt="<%= i.title %>">
                            <% else %>
                                <%= image_tag("photos/photo2.png", :alt => "") %>
                            <% end %>
                        </a>
                        <!--
                        <div class='photo-img all02'>
                            <% if i.image_file_name %>
                                <img class="e-view-img" src="<%= i.image %>" alt="<%= i.title %>">
                            <% else %>
                                <%= image_tag("photos/photo2.png", :alt => "") %>
                            <% end %>
                        </div>
                        -->
                    </div>
                <% end %>
                <div class='clr'></div>
            </div>  
            <div class='newsbutton'><a href="#"></a></div>
            <div class='text'>ПОКАЗАТЬ ЕЩЕ</div>
        </main>
    </div>
</section>

<%= render "templates/buy" %>
<%= render "templates/footer" %>

</section>