<h1>Новая заявка от клиента</h1>
<div>
	<span><strong>Имя: </strong><%= @name %></span><br>
	<span><strong>E-mail: </strong><%= @email %></span><br>
	<span><strong>Телефон: </strong><%= @phone %></span><br>
	<span><strong>Текст сообщения: </strong><%= @text %></span>
</div>
