<section id='main'>

<%= render "templates/header" %>

<!-- about company -->
<section id='about'>
    <div class='about'>
        <h1 class='zag'><%= t("page.about") %></h1>
        <div class='line'></div>
        <div class='position'><a href="/"><%= t("page.main") %></a> | <%= t("page.about") %></div>
        <main>
            <!--
            <div class='block1'>
                <div class='block1a'>Закрытое акционерное общество "Техносервис" было основано в 1992 году на базе Нижегородского спецавтоцентра "ВАЗ". В марте 1992 года ЗАО выделилось в самостоятельное предприятие. Сегодня это одна из ведущих фирм в области усовершенствования и ремонта грузовых и легковых автомобилей производства ОАО "ГАЗ", «УАЗ» и автомобилей импортного производства.</div>
                <div class='block1b'>
                    <%= image_tag("company/img1.png", :alt => "") %>
                    <%= image_tag("company/img2.png", :alt => "") %>
                </div>
                <div class='clr'></div>
            </div>
            <div class='history'>
                <div class='zag'>Значимые даты компании:</div>

                <div class='date'>
                    <div class='year'>1992 </div>
                    <div class='lines'></div>
                    <div class='text1'>Основание предприятия 1993 - освоение установки двигателя ЗМЗ-406.10 на автомобили "Волга". Адаптация системы управления двигателем фирмы BOSCH.</div>
                    <div class='clr'></div>
                </div>
                <div class='date'>
                    <div class='year'>1995 </div>
                    <div class='lines'></div>
                    <div class='text1'>Получен сертификат ROVER GROUP на право установки двигателя ROVER на легковые автомобили "Волга". Выпущено свыше 1000 автомобилей с таким двигателем.</div>
                    <div class='clr'></div>
                </div>
                <div class='date'>
                    <div class='year'>1996 </div>
                    <div class='lines'></div>
                    <div class='text1'>Получен сертификат концерна IVECO на обслуживание автомобилей с двигателем IVECO.</div>
                    <div class='clr'></div>
                </div>
                <div class='date'>
                    <div class='year'>1997 </div>
                    <div class='lines'></div>
                    <div class='text1'>Подписано соглашение с фирмой TOYOTA на установку силовых агрегатов этой фирмы на автомобили "ГАЗ". Ежемесячный выпуск автомобилей с мощными силовыми агрегатами ROVER, IVECO, TOYOTA превысил 100 штук. Создается сеть собственных сервисных центров для обеспечения гарантийного обслуживания автомобилей на территории России. Организована команда по автоспорту.</div>
                    <div class='clr'></div>
                </div>
                <div class='date'>
                    <div class='year'>1998 </div>
                    <div class='lines'></div>
                    <div class='text1'>Соглашение с фирмой TOYOTA дает эксклюзивные права на поставку силовых агрегатов TOYOTA (6 моделей) с 5-ступенчатыми механическими и автоматическими коробками передач на территории России и СНГ. Закончена адаптация дизельных двигателей TOYOTA для автомобилей УАЗ. Все оснащаемые нашими двигателями автомобили ГАЗель, Волга, УАЗ удовлетворяют требованиям EURO-2 по токсичности.</div>
                    <div class='clr'></div>
                </div>
                <div class='date'>
                    <div class='year'>2000 </div>
                    <div class='lines'></div>
                    <div class='text1'>Изготовление опытных образцов спец. техники для министерства обороны, получение государственного оборонного заказа.</div>
                    <div class='clr'></div>
                </div>
                <div class='date'>
                    <div class='year'>2001 </div>
                    <div class='lines'></div>
                    <div class='text1'>Начало выпуска специализированных автомобилей для работы в шахтах и рудниках.</div>
                    <div class='clr'></div>
                </div>
                <div class='date'>
                    <div class='year'>2003 </div>
                    <div class='lines'></div>
                    <div class='text1'>Разработка автомобиля для трофи- рейдов, охоты, рыбалки на базе автомобиля УАЗ с установкой дизельного силового агрегата TOYOTA..</div>
                    <div class='clr'></div>
                </div>
                <div class='date'>
                    <div class='year'>2005 </div>
                    <div class='lines'></div>
                    <div class='text1'>Подписание соглашения на установку силовых агрегатов ISUZU.</div>
                    <div class='clr'></div>
                </div>
            </div>
            -->
            <%= @info.about.html_safe %>
        </main>
    </div>
</section>
<!--
<section id='about1'>
    <div class='about1'>
        <div>
            <%= @info.about.html_safe %>
        </div>
    </div>
</section>

<section id='about2'>
    <div class='about2'>
        Опытно-конструкторские работы проводятся техническими специалистами конструкторского отдела с привлечением ученых Нижегородского технического университета, инженеров Управления конструкторско-зкспериментальных работ ОАО "ГАЗ".
    </div>
</section>
-->
<%= render "templates/buy" %>
<%= render "templates/footer" %>

</section>
