
.e-certificates-btn{
	display: block;
	margin: 0 auto;
	background: #00D5FF;
	width: 300px;
	height: auto;
	font: 15px 'Exo2 Regular', sans-serif;
	text-align: center;
	color: #153170!important;
	cursor: pointer;
	text-decoration: none!important;
	border-radius: 50px;
	line-height: 35px;
	outline: none;
	margin-top: 15px;
}