.b-catalog{
	display: block;
	padding:50px 0;
	margin: 0 auto;

	.b-catalog-grid{
		text-align: center;

		.b-catalog-item{
			display: inline-block;
			vertical-align: top;
			width:240px;
			margin: 0 auto;
			margin-left: 10px;
			margin-right: 10px;

			.b-catalog-block{
				.img {
					display: table-cell; 
					vertical-align: middle; 
					border-radius: 130px; 
					border: 1px solid #395086; 
					position:relative;
					width:240px;
					height:240px; 
					padding: 5px 5px 5px 5px;
					img { 
						width:100%; 
						height:auto; 
						border-radius:135px; 
					}
				}
				.zag-text {
					padding:15px 0;
					font:15px 'Exo2 Medium',sans-serif;
					color:#153170;
					text-align:center;
				}
			}
		}
	}
	.b-catalog-item-helper{
		width: 100%;
        height: 0;
        visibility: hidden;
	}
}
