/*
.b-company{
	width: 100%;
	height: 600px;
	display: table;
	letter-spacing: 0px;
	box-shadow: 0 17px 15px -15px #333;
    z-index: 400;
    position: relative;

	.b-company-left{
		background: #dde8f3;
		display: inline-block;
		letter-spacing: normal;
		width: 50%;
		height: 100%;
		position: relative;
		padding-top: 25px;
		box-shadow:inset -26px 0 24px -24px #222;

		.e-company-left-img{
			position: absolute;
			left: 10px;
			margin-top: 20px;
		}

		.b-company-left-wrapper{
			position: absolute;
			right: 0px;
			width: 620px;
			strong{
				font-size: 35px;
				color: #153170;
				display: block;
				border-left: 6px solid #0f64ad;
				padding-left: 10px;
				font-family: "Exo2Light";
				font-weight: lighter;
				height: 40px;
				line-height: 40px;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.b-company-left-wrapper-text{
				display: block;
				font-size: 12px;
				text-align: justify;
			}
		}
	}

	.b-company-right{
		background: #105fa2;
		display: inline-block;
		letter-spacing: normal;
		width: 50%;
		height: 100%;
		padding-top: 25px;
		position: relative;
		box-shadow:inset 26px 0 24px -24px #222;

		.b-company-right-wrapper{
			position: absolute;
			left: 0px;
			width: 450px;
			strong{
				font-size: 35px;
				color: #fff;
				display: block;
				border-left: 6px solid #00d0f9;
				padding-left: 10px;
				font-family: "Exo2Light";
				font-weight: lighter;
				height: 40px;
				line-height: 40px;
				margin-left: 30px;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.b-company-right-wrapper-advantages{
				width: 100%;
				height: 100%;
				list-style: none;
				li{
					display: table;
					white-space: 0px;
					margin-top: 20px;
					img{
						display: inline-block;
						vertical-align: middle;
						width: 76px;
						height: 75px;
						white-space: normal;
					}

					span{
						display: inline-block;
						vertical-align: middle;
						width: 350px;
						height: 85px;
						white-space: normal;
						color: #fff;
						font-size: 12px;
						margin-left: 10px;
						padding-left: 10px;
						padding-top: 5px;
						border-left: 3px solid #00d0f9;
					}
				}

				.e-advantages-right{
					span{
						margin-left: 0px;
						padding-left: 0px;
						margin-right: 10px;
						padding-right: 10px;
						border-left: 0;
						border-right: 3px solid #00d0f9;
						text-align: right;
					}
				}
			}
		}
	}

	.b-company-footer{
		width: 100%;
		height: 60px;
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: -33px;
		z-index: -1;

		-webkit-border-bottom-left-radius: 50% 30px;
		   -moz-border-radius-bottom-left: 50% 30px;
			    border-bottom-left-radius: 50% 30px;

		-webkit-border-bottom-right-radius: 50% 30px;
		   -moz-border-radius-bottom-right: 50% 30px;
			    border-bottom-right-radius: 50% 30px;
	
		-webkit-box-shadow: 0 17px 15px -15px #333;
           -moz-box-shadow: 0 17px 15px -15px #333;
            -ms-box-shadow: 0 17px 15px -15px #333;
             -o-box-shadow: 0 17px 15px -15px #333;
                box-shadow: 0 8px 6px -6px #333;

        .b-company-footer-left{
        	background: #dde8f3;
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 50%;
			height: 60px;
			
			-webkit-border-bottom-left-radius: 50% 30px;
			   -moz-border-radius-bottom-left: 50% 30px;
			        border-bottom-left-radius: 50% 30px;

            box-shadow:inset -26px 0 24px -24px #222;
        }

        .b-company-footer-right{
        	background: #105fa2;
			position: absolute;
			bottom: 0px;
			right: 0px;
			width: 50%;
			height: 60px;
			
			-webkit-border-bottom-right-radius: 50% 30px;
			   -moz-border-radius-bottom-right: 50% 30px;
			        border-bottom-right-radius: 50% 30px;

            box-shadow: inset 26px 0 24px -24px #222;
        }
	}
}
*/