footer
{
	background: image-url('footer-bg.png') top left repeat-x;
	background-size: auto 100%;
	//height: 150px;
	min-width: 320px;
	position: relative;
	width: 100%;
}
footer .footer
{
	margin: 0 auto;
	max-width: 1200px;
	min-width: 320px;
	width: 100%;
}
footer .footer .logo
{
	float: left;
	height: auto;
	margin-top: 35px;
	width: 464px;
}
footer .footer .logo img
{
	height: auto;
	width: 100%;
}
footer .phone
{
	float: left;
	margin-left: 50px;
	padding-top: 35px;
	width: 225px;
}
footer .text
{
	margin: 0 auto;
	width: 245px;
}
footer .phone .text
{
	color: #00d5ff;
	font: 30px 'Exo2 Regular',sans-serif;
	padding-top: 3px;
	text-align: center;
	position: relative;
}
footer .phone .e-phone1{
	color: #fff;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
}
footer .phone .e-phone2{
	color: #00d5ff;
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}
footer .footer .phone .call-button
{
	background: image-url('callback.png') center center no-repeat;
	color: #fff;
	display: block;
	font: 15px 'Exo2 Regular',sans-serif;
	height: 37px;
	line-height: 37px !important;
	margin: 0 auto;
	padding: 0 0 0 33px;
	text-align: center;
	text-decoration: none;
	width: 171px;
	cursor: pointer;
}
footer .footer .phone .call-button:hover
{
	color: #00d5ff;
}
footer .footer .find
{
	float: right;
	font: 14px 'Exo2 Regular',sans-serif;
	height: auto;
	margin-top: 25px;
	position: relative;
	text-align: right;
	width: 370px;
}
footer .footer .find input
{
	background: none;
	border: 1px solid #808080;
	border-radius: 25px;
	color: #fff;
	font: 15px 'Exo2 Italic',sans-serif;
	height: auto;
	line-height: 32px;
	margin-bottom: 5px;
	outline: 0;
	padding: 0 15px;
	width: 338px;
}
footer .footer .find button
{
	background: image-url('find-loop.png') center center no-repeat;
	border: 0;
	height: 32px;
	opacity: 0.75;
	outline: 0;
	position: absolute;
	right: 12px;
	top: 0;
	width: 32px;
}
footer .footer .find button:hover
{
	cursor: pointer;
	opacity: 1.0;
}
footer .footer .find .e-sn-links{
	a{
		padding-left: 10px;
		.e-sn-img{
			border-radius: 20px;
		}
	}
}
footer .footer .find .copyright
{
	color: #fff;
	//padding-top: 40px;
	a{
		color: #fff;
		text-decoration: none;
	}
}
.b-footer-links{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 20px;
	.e-footer-links-items{
		text-align: justify;
		width: 100%;
		.e-footer-links-item{
			max-width: 260px;
			width: 100%;
			display: inline-block;
			vertical-align: top;
			ul{
				list-style: none;
				display: inline-block;
				vertical-align: top;
				width: 100%;
				margin-bottom: 20px;
				li{
					margin-bottom: 3px;
					a{
						color: #fff;
						text-decoration: none;
						font-size: 16px;
					}
				}
			}
		}
		.e-footer-links-item-helper{
			width: 100%;
			display: inline-block;
		}
	}
}

@media (min-width:981px) and (max-width:1100px)
{
	footer .footer .logo
	{
		padding: 10px 0;
		width: 300px;
	}
	.b-footer-links{
		.e-footer-links-items{
			.e-footer-links-item{
				max-width: 195px;
				ul{
					li{
						a{
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
@media (max-width:980px)
{
	footer
	{
		height: auto;
	}
	footer .footer .logo
	{
		float: none;
		margin: 0 auto;
		padding: 20px 0 10px 0;
	}
	footer .footer .phone
	{
		float: none;
		margin: 0 auto;
		padding: 10px 0 20px 0;
		text-align: right;
		width: 464px;
	}
	footer .footer .phone a
	{
	}
	footer .footer .find
	{
		float: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: 464px;
	}
	footer .footer .find input
	{
		margin: 0;
		width: 432px;
	}
	footer .footer .find .copyright
	{
		padding: 20px 0;
	}
	.b-footer-links{
		display: none;
	}
}
@media (max-width:800px)
{
	footer
	{
		background: #434B5E image-url('forma-bg-mobile1.png') top center no-repeat;
		background-size: 100% auto;
		margin-top: 0;
		padding-top: 40px;
	}
}
@media (max-width:495px)
{
	footer .footer .logo
	{
		float: none;
		margin: 0 auto;
		padding: 20px 0 10px 0;
		width: 300px;
	}
	footer .footer .phone
	{
		float: none;
		margin: 0 auto;
		padding: 10px;
		text-align: center;
		width: 300px;
	}
	footer .footer .phone a
	{
		float: none;
	}
	footer .footer .find
	{
		width: 300px;
	}
	footer .footer .find input
	{
		margin: 0;
		width: 268px;
	}
}
::-webkit-input-placeholder
{
	color: #fff;
}
:-moz-placeholder
{
	color: #fff;
}
::-moz-placeholder
{
	color: #fff;
}
:-ms-input-placeholder
{
	color: #fff;
}
.all02
{
	khtml-transition: all .2s linear;
	moz-transition: all .2s linear;
	ms-transition: all .2s linear;
	o-transition: all .2s linear;
	transition: all .2s linear;
	webkit-transition: all .2s linear;
}






.callback-bt {
        background:#38a3fd;
        border:2px solid #38a3fd;
        border-radius:50%;
        box-shadow:0 8px 10px rgba(56,163,253,0.3);
        cursor:pointer;
        height:68px;
        text-align:center;
        width:68px;
        position: fixed;
        right: 8%;
        bottom: 10%;
        z-index:999;
        transition:.3s;
        -webkit-animation:hoverWave linear 1s infinite;
        animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
        height:68px;
        width:68px;        
        border-radius:50%;
        position:relative;
        overflow:hidden;
}

.callback-bt .text-call span {
    text-align: center;
    color:#38a3fd;
    opacity: 0;
    font-size: 0;
        position:absolute;
        right: 7px;
        top: 22px;
    line-height: 14px;
        font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
        font-size: 11px;
}
.callback-bt:hover i {
    display:none;
}

.callback-bt:hover {
        z-index:999;
        background:#fff;
        color:transparent;
        transition:.3s;
}
.callback-bt:hover i {
        color:#38a3fd;
        font-size:40px;
        transition:.3s;
}
.callback-bt i {
        color:#fff;
        font-size:34px;
        transition:.3s;
        line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
    animation: 1200ms ease 0s normal none 1 running shake;
        animation-iteration-count: infinite;
        -webkit-animation: 1200ms ease 0s normal none 1 running shake;
        -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}
