// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.e-show-img{
	cursor: pointer;
}
.b-photo-window-wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0,0, 0, 0.5);
	display: none;

	.b-photo-window-close{
		width: 18px;
		height: 18px;
		background: image-url('cross.png') no-repeat;
		position: absolute;
		top: 5%;
		right: 5%;
		z-index: 1000;
		cursor: pointer;
		opacity: 1;
	}

	.b-photo-window{
		width: 100%;
		margin-top: 50px;
		opacity: 1;
		position: relative;
		.b-photo-img{
			max-width: 1000px;
			min-width: 260px;
			width: auto;
			height: auto;
			position: absolute;
			left: 50%;
		}
		
	}
}