/* Header */
.call-button, .lang
{
    color: #fff!important;
    text-decoration: none!important;
}
.call-button:hover, .lang:hover
{
    color: #00d5ff!important;
}
.e-menu-item
{
    text-decoration: none!important;
}
header
{
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
    min-width: 320px;
}
header .logo
{
    background: url(asset_path('logo1-bg.png'));
    box-shadow: 0px 0px 8px #666;
    height: 115px;
    margin: 0 0 8px 0;
    width: 100%;
}
header .logo div
{
    margin: 0 auto;
    padding: 17px 0 0 0;
    width: 499px;
    display: block;
}
header .logo div a
{
    border: 0;
    display: inline-block;
}
header .logo div a img
{
    height: auto;
    width: 100%;
}
header .phone
{
    background: url(asset_path('phone-bg.png'));
    border-radius: 15px;
    height: 47px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 1180px;
}
header .text
{
    margin: 0 auto;
    width: 230px;
}
header .phone .text .e-tel2
{
    color: #00d5ff;
    display: inline-block;
    font: 30px 'Exo2 Regular',sans-serif;
    padding-left: 4px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
}
header .phone .text .e-tel1
{
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding-top: 6px;
    vertical-align: middle;
}
header .call-button
{
    background: image-url('callback.png') center center no-repeat;
    color: #fff;
    float: left;
    font: 15px 'Exo2 Regular',sans-serif;
    height: 37px;
    line-height: 37px !important;
    margin: 6px 0 0 0;
    padding: 0 0 0 33px;
    text-align: center;
    text-decoration: none;
    width: 171px;
    cursor: pointer;
}
header .call-button:hover
{
    color: #00d5ff;
}
header .e-langs
{
    height: 47px;
    margin-top: -(47px / 2);
    padding: 0px;
    position: absolute;
    right: 10px;
    top: 50%;
}
header .lang
{
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font: 15px 'Exo2 Regular',sans-serif;
    height: 43px;
    line-height: 43px !important;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    width: 43px;
}
header .lang:last-child
{
    margin: -35px 0 0 0;
}
header .lang:hover
{
    color: #00d5ff;
}
header .active
{
    border: 2px solid #00d5ff;
}
header nav
{
    background: rgba(0,213,255,0.8);
    border-radius: 50px;
    height: auto;
    margin: 0 auto;
    margin-top: 8px;
    padding: 10px 13px;
    width: 1174px;
}
header nav ul
{
    border-left: 1px solid #fff;
    height: auto;
    list-style: none;
    margin: 0 auto;
    width: 90%;
}
header nav ul li
{
    border-right: 1px solid #fff;
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 19%;
}
header nav ul li a
{
    color: #153170;
    font: 15px 'Exo2 Regular',sans-serif;
    text-decoration: none;
}
header nav ul li a:hover
{
    color: #fff;
}
#main-nav .logo div{
    text-align: center;
}
#main-nav .logo div a{
    display: inline-block;
    
}

@media (min-width:981px ) and (max-width:1199px)
{
    header .phone, header nav
    {
        width: 96%;
    }
    header nav ul
    {
        margin: 0 auto;
        width: 96%;
    }
}

@media (max-width:1100px){
    header nav ul li a{
        font-size: 12px;
    }
}


@media (max-width:980px)
{
    header .phone, header nav
    {
        width: 96%;
    }
    header nav ul
    {
        margin: 0 auto;
        width: 96%;
    }
}
.e-header-small-menu{
    display: none;
    visibility: hidden;
}

.b-header-mob-menu{
    display: none;
    position: fixed;
    width: 300px;
    height: 100vh;
    right: 0px;
    top: 115px;
    background: #304880;
    z-index: 1000;
    overflow-y: scroll;

    .e-langs {
        height: 47px;
        padding: 0px;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #365391;
    }
    .lang {
        border: 2px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font: 15px 'Exo2 Regular',sans-serif;
        height: 43px;
        line-height: 43px !important;
        margin-right: 5px;
        text-align: center;
        text-decoration: none;
        width: 43px;
    }
    .lang:last-child {
        margin: -35px 0 0 0;
    }
    .lang:hover {
        color: #00d5ff;
    }

    ul{
        list-style: none;
        li{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #365391;
            a{
                text-transform: uppercase;
                font: 12px 'Exo2 Regular', sans-serif;
                color: #fff;
                text-decoration: none;
                text-align: right;
                padding-left: 20px;
                width: 100%;
            }
        }
    }
}
    
@media (max-width:800px)
{
    header nav, header .phone
    {
        display: none;
    }

    .b-header-mob-menu-open{
        display: block;
    }

    #main-nav .logo div a, header .logo div a {
        margin-top: 5px;
    }

    .e-header-small-menu{
        display: block;
        visibility: visible;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 30px;
        cursor: pointer;
        max-width: 30px;
        padding: 0px!important;

        .e-header-small-menu-item {
            padding: 0px!important;
            height: 4px;
            margin-bottom: 5px!important;
            background-color: #153170;
            border-radius: 10px 10px 10px 10px;
            max-width: 30px;

        }

    }


    header .logo div {
        text-align: center;
    }
}
@media (max-width:640px)
{
    header .logo
    {
        background: image-url('logo1-bg.png');
        background-size: auto 100%;
        height: 80px;
    }
    header .logo div
    {
        padding: 12px 0 0 0;
        width: 350px;
    }

    header .logo, #main-nav{
        height: 60px!important;
    }

    header .logo, #main-nav .logo{
        height: 60px!important;
    }

    header .logo div a{
        width: 60%;
        margin-top: -2px;
    }
    #main-nav .logo div a {
        width: 60%;
        margin-top: -2px;
    }

    .b-header-mob-menu{
        top: 60px;
    }
}
@media (max-width:360px)
{
    header .logo
    {
        background: image-url('logo1-bg.png');
        background-size: auto 100%;
        height: 60px;
    }

    header .logo div
    {
        padding: 12px 0 0 0;
        padding-top: 20px;
        width: 260px;
    }
    .b-header-mob-menu{
        top: 60px;
        width: 100%;
    }

}
#main-nav
{
    display: none;
    height: auto;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 500;
}
#main-nav .logo
{
    background: image-url('logo1-bg.png');
    box-shadow: 0px 0px 8px #666;
    height: 115px;
    margin: 0 0 8px 0;
    width: 100%;
}
#main-nav .logo div
{
    margin: 0 auto;
    padding: 17px 0 0 0;
    width: 499px;
    display: block;
}
#main-nav .logo div a
{
    border: 0;
}
#main-nav .logo div a img
{
    height: auto;
    width: 100%;
}
@media (max-width:640px)
{
    #main-nav .logo
    {
        background: image-url('logo1-bg.png');
        background-size: auto 100%;
        height: 80px;
    }
    #main-nav .logo div
    {
        padding: 12px 0 0 0;
        width: 350px;
    }
}
@media (max-width:360px)
{
    #main-nav .logo
    {
        background: image-url('logo1-bg.png');
        background-size: auto 100%;
        height: 60px;
    }
    #main-nav .logo div
    {
        padding: 12px 0 0 0;
        padding-top: 20px;
        width: 260px;
    }
}