#slider
{
	height: 780px;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	min-width: 320px;
	position: relative;
	width: 100%;
	z-index: 100;
}
.rslides
{
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
.rslides li
{
	display: none;
	height: 855px;
	left: 0;
	position: absolute;
	top: 0;
	webkit-backface-visibility: hidden;
	width: 100%;
}
.rslides li div{
	display: block;
}
.rslides li:first-child
{
	display: block;
	float: left;
	position: relative;
}
.rslides img
{
	border: 0;
	display: block;
	float: left;
	height: auto;
	width: 100%;
	z-index: 1;
}
.rslides div
{
	color: #fff;
	font: 40px 'Exo2 Regular',sans-serif;
	height: auto;
	left: 50%;
	line-height: 50px !important;
	margin-left: -420px;
	position: absolute;
	//text-transform: uppercase;
	top: 440px;
	width: 490px;
}
.rslides div span
{
	background: rgba(0,0,0,0.50);
	border-radius: 8px;
	color: #fff;
	padding: 0 10px;
}
.rslides div a
{
	background: #00D5FF;
	border-radius: 50px;
	color: #153170;
	//float: right;
	font: 17px 'Exo2 Regular',sans-serif;
	margin-top: 25px;
	padding: 8px 20px;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	right: -40px;
	top: 80px;
}
.rslides div a:hover
{
	background: #153170;
	color: #00D5FF;
}
.rslides_nav
{
	border-radius: 50%;
	display: block;
	height: 90px;
	position: absolute;
	top: 440px !important;
	width: 90px;
	z-index: 15;
}
.prev
{
	background: image-url('slider/slider-button.png') ;
	background-position: top left;
	//left: 50%;
	//margin-left: -600px;
	left: 3%;
	z-index: 15;
}
.prev:hover
{
	background: image-url('slider/slider-button.png');
	background-position: bottom left;
}
.next
{
	background: image-url('slider/slider-button.png');
	background-position: top right;
	//margin-right: -600px;
	//right: 50%;
	right: 3%;
	z-index: 15;
}
.next:hover
{
	background: image-url('slider/slider-button.png');
	background-position: bottom right;
}
.rslides_tabs
{
	background: #0F64AD;
	border-radius: 18px;
	height: 35px;
	left: 50%;
	list-style: none;
	margin: 0 0 0 -75px;
	padding: 0 10px 5px 10px;
	position: absolute;
	top: 745px;
	width: 150px;
	z-index: 15;
}
.rslides_tabs li
{
	display: inline-block;
	height: 16px;
	list-style: none;
	margin-top: -10px !important;
	padding: 0;
	width: 16.5%;
}
.rslides_tabs li a
{
	border: 1px solid #fff;
	border-radius: 50%;
	display: block;
	font-size: 0px;
	height: 14px;
	margin: 0 auto;
	padding: 0;
	width: 14px;
}
.rslides_tabs .rslides_here a
{
	background: #fff;
}
@media (max-width:1100px)
{
	.rslides div
	{
		left: 60%;
	}
}
@media (max-width:900px)
{
	.rslides div
	{
		left: 70%;
	}
}

@media (max-width:800px)
{
	.rslides div
	{
		left: 50%;
	}

	.rslides_nav{
		width: 45px;
		height: 45px;
		display: none;
	}
	
	#slider
	{
		height: 600px;
	}
	.rslides li
	{
		display: none;
		height: 600px;
		left: 0;
		position: absolute;
		top: 0;
		webkit-backface-visibility: hidden;
		width: 100%;
	}
	.rslides div
	{
		margin-left: -245px;
		top: 250px;
		width: 490px;
	}
	.rslides_tabs
	{
		display: none;
	}
}
@media (max-width:600px)
{
	.rslides div
	{
		left: 50%;
	}
	.rslides div span{
		font-size: 30px;
	}
	.rslides div a{
		right: 10px;
		font-size: 15px;
	}
}

@media (max-width:480px)
{

	.rslides div
	{
		font: 35px 'Exo2 Regular',sans-serif;
		height: auto;
		line-height: 40px !important;
		//margin-left: -225px;
		left: 50%;
		margin-left: -150px;
		width: 300px;
	}

	.b-slider-text{
		font-size: 25px!important;
	}

	.rslides div a{
		top: 60px;
		right: -10px;
		font-size: 15px;
	}
}
@media (max-width:330px)
{
	#slider
	{
		height: 350px;
	}
	.rslides li
	{
		display: none;
		height: 350px;
		left: 0;
		position: absolute;
		top: 0;
		webkit-backface-visibility: hidden;
		width: 100%;
	}
	.rslides div
	{
		font: 25px 'Exo2 Regular',sans-serif;
		line-height: 35px !important;
		margin-left: -150px;
		top: 110px;
		width: 300px;
	}
	.rslides_tabs
	{
		display: none;
	}
	.rslides div a
	{
		font: 14px 'Exo2 Regular',sans-serif;
		padding: 8px 15px;
		right: 20px;
	}
	.b-slider-text{
		font-size: 20px;
	}
}