/*.b-mainphotogallery{
	width: 100%;
	height: 400px;
	background: #fff;
	position: relative;
	padding-top: 40px;
	z-index: 300;

	.b-mainphotogallery-wrapper{
		width: 960px;
		height: 100%;
		margin: 0 auto;

		.b-mainphotogallery-content{
			display: block;
			list-style: none;
			text-align: justify;
			width: 100%;
			max-width: 1200px;
			max-width: 960px;
			li{
				display: inline-block;
				width: 284px;
				height: 290px;
				position: relative;
				background-image: url('mainphotogallery/bg.png');
				z-index: initial;
				cursor: pointer;

				$scale_img: 1;
				.b-mainphotogallery-img{
					position: absolute;
					left: 50%;
					top: 50%;
					width: 260px * $scale_img;
					height: 260px * $scale_img;
					margin-left: -(260px * $scale_img)/2;
					margin-top: -(260px * $scale_img)/2;
					z-index: -1;
				}
				.b-mainphotogallery-img:hover { 
					transform: scale(1.1); 
				}
			}

			.e-helper{
				width: 100%;
				height: 0px;
				visibility: inherit;
			}
		}
		.b-mainphotogallery-header, .b-mainphotogallery-footer{
			width: 960px;
			display: block;
			font-weight: lighter;
			margin: 0 auto;
			font-size: 35px;
			font-family: "Exo2Light";
			text-align: center;
			position: relative;
			color: #153170;

			&:before{
				content: ' ';
				width: 280px;
				height: 0px;
				position: absolute;
				border-top: 1px solid #1165ae;
				left: 0px;
				top: 50%;
			}

			&:after{
				content: ' ';
				width: 280px;
				height: 0px;
				position: absolute;
				border-top: 1px solid #1165ae;
				right: 0px;
				top: 50%;
			}
		}

		.b-mainphotogallery-footer{
			position: absolute;
			bottom: 0px;
			button{
				width: 260px;
				height: 30px;
				background: #0f64ac;
				border: none;
				outline: none;
				border-radius: 30px;
				font-family: "Exo2Light";
				text-align: center;
				color: #fff;
				font-size: 15px;
				cursor: pointer;
				text-shadow: none;
				margin-bottom: 15px;
			}

			img{
				position: absolute;
				width: 99px;
				height: 78px;
				left: 50%;
				margin-left: -(99px / 2);
				top: -68px;
			}
		}
	}

	&:after{
		content: ' ';
		width: 100%;
		height: 50px;
		background: #fff;
		position: absolute;
		left:0px;
		right:0px;
		bottom: -25px;
		border-radius:50%;
		z-index:-1;

		-webkit-box-shadow: 0 5px 6px -6px #777;
           -moz-box-shadow: 0 5px 6px -6px #777;
            -ms-box-shadow: 0 5px 6px -6px #777;
             -o-box-shadow: 0 5px 6px -6px #777;
                box-shadow: 0 6px 6px -6px #777;
	}
}*/