/*
.b-mainnews{
	width: 100%;
	height: 600px;
	background: #d2d7e2;
	position: relative;
	z-index: 200;
	margin-bottom: 5px;
	-webkit-box-shadow: 0 5px 6px -6px #777;
       -moz-box-shadow: 0 5px 6px -6px #777;
        -ms-box-shadow: 0 5px 6px -6px #777;
         -o-box-shadow: 0 5px 6px -6px #777;
            box-shadow: 0 6px 6px -6px #777;

	.b-mainnews-wrapper{
		width: 100%;
		height: 100%;
		min-width: 960px;
		//max-width: 1200px;
		display: table;
		letter-spacing: 0px;
		margin: 0 auto;

		.b-news-left{
			background: #d2d7e2;
			letter-spacing: normal;
			width: 50%;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			position: relative;

			.b-news-left-wrapper{
				width: 600px;
				position: absolute;
				right: 0px;
				top: 0px;
				padding-top: 20px;
				strong{
					font-size: 35px;
					color: #153170;
					display: block;
					border-left: 6px solid #0f64ad;
					padding-left: 10px;
					font-family: "Exo2Light";
					font-weight: lighter;
					height: 40px;
					line-height: 40px;
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}
		.b-form-right{
			background: #105fa2;
			letter-spacing: normal;
			width: 50%;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			position: relative;
			box-shadow:inset 26px 0 24px -24px #222;
			.b-form-right-wrapper{
				width: 600px;
				position: absolute;
				left: 0px;
				top: 0px;
				padding-top: 20px;
				strong{
					font-size: 35px;
					color: #fff;
					display: block;
					border-left: 6px solid #00d0f9;
					padding-left: 10px;
					font-family: "Exo2Light";
					font-weight: lighter;
					height: 40px;
					line-height: 40px;
					margin-left: 30px;
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}
	}
}
*/