/*
.b-mainmenu{
    width: 100%;
    height: 230px;
    .b-mainmenu-fill{
        width: 100%;
        height: 110px;
    }
    .b-contact-header-wrapper{
        width: 95%;
        height: 55px;
        background-color: rgba(21,49,112,0.7);//rgba(55,79,132,0.7);
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 20px;
        position: relative;

        .e-contact-header-left{
            width: 208px;
            height: 100%;
            position: absolute;
            left: 8px;
            .e-phone{
                width: 208px;
                height: 43px;
                margin-top: 6px;
                background: url('mainslider/phone.png') no-repeat;
                span{
                    display: block;
                    height: 100%;
                    line-height: 44px;
                    padding-left: 52px;
                    color: #fff;
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }

        .e-contact-header-center{
            width: 210px;
            height: 100%;
            position: absolute;
            left: 50%;
            margin-left: -(210px / 2);

            .e-phone-first{
                line-height: 55px;
                color: #fff;
                font-size: 18px;
                vertical-align: middle;
            }

            .e-phone-second{
                line-height: 55px;
                color: #00d5ff;
                font-size: 30px;
                vertical-align: middle;
            }
        }

        .e-contact-header-right{
            width: 108px;
            height: 100%;
            position: absolute;
            right: 8px;
            word-spacing: 0px;
            display: table;

            .e-lang-en, .e-lang-ru{
                width: 40px;
                height: 40px;
                margin-top: (11px / 2);
                line-height: 40px;
                text-align: center;
                font-size: 15px;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 40px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                word-spacing: normal;
                cursor: pointer;
            }

            .e-lang-curent{
                border: 2px solid #00d5ff;
            }
        }
    }

    .b-menu{
        width: 95%;
        height: 40px;
        background-color: rgba(0,213,255,0.5);
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 15px;

        ul{
            list-style: none;
            height: 100%;
            word-spacing: 0px;
            display: table;
            margin: 0 auto;
            padding: 0;
            li{
                display: inline-block;
                font-size: 15px;
                line-height: 15px;
                margin-top: (25px / 2);
                width: 200px;
                height: 15px;
                text-align: center;
                border-left: 2px solid #fff;
                word-spacing: normal;

                a{
                    color: #153170;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .e-menu-item-last{
                border-right: 2px solid #fff;
            }
            @media screen and (max-width: 1100px){
                li{
                    width: 180px;
                }
            }      
        }
    }
}
*/