.b-popup-parent{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 0.5;
    background: #000;
    display: none;
}

.b-popup-close{
    background: image-url("block2b-bg.png") repeat;
    border-radius: 25px;
    border: 8px solid #00D5FF;
    width: 25px;
    height: 25px;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 175px;
    margin-top: -245px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1100;
    display: none;
}

.b-popup{
    width: 320px;
    height: 464px;
    background: #fff;
    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    margin-left: -176px;
    margin-top: -215px;
    background: image-url("block2b-bg.png") repeat;
    border-radius: 10px;
    border: 8px solid #00D5FF;
    display: none;

    .e-popup-wrapper{
        width: 300px;
        margin-left: 10px;
        margin-top: 10px;
        position: relative;

        
        .zag {
            border-left: 8px solid #00D5FF;
            padding: 0 0 0 20px;
            font: 26px 'Exo2 Light', sans-serif;
            //color: #153170;
            color: #fff;
            line-height: 50px;
            text-align: left;
        }

        .cont {
            margin: 15px 0 0 0;
            width: 100%;
            height: auto;

            input {
                outline: none;
                margin: 0 0 20px 0;
                padding: 0 15px;
                width: 268px;
                background: none;
                border-radius: 10px;
                border: 1px solid #00D5FF;
                font: 15px 'Exo2 Regular', sans-serif;
                color: #fff;
                line-height: 38px;
            }

            textarea {
                outline: none;
                margin: 0 0 10px 0;
                padding: 0 15px;
                width: 268px;
                height: 80px;
                background: none;
                border-radius: 10px;
                border: 1px solid #00D5FF;
                font: 15px 'Exo2 Regular', sans-serif;
                color: #fff;
                line-height: 38px;
            }

            .form-button {
                display: block;
                margin: 0 auto;
                background: #00D5FF;
                width: 268px;
                height: auto;
                font: 15px 'Exo2 Regular', sans-serif;
                text-align: center;
                color: #153170;
                cursor: pointer;
                text-decoration: none;
                border-radius: 50px;
                line-height: 35px;
                outline: none;
                margin-top: 10px;
            }
        }
    }
}