/*
.b-services{
    width: 100%;
    height: 450px;
    background: #d9ebff;
    position: relative;
    margin-top: -200px;
    z-index: 900;

    &:after{
        content: ' ';
        width: 100%;
        height: 50px;
        background: #d9ebff;
        position: absolute;
        left:0px;
        right:0px;
        bottom: -25px;
        border-radius:50%;
        z-index:-1;

        -webkit-box-shadow: 0 5px 6px -6px #777;
           -moz-box-shadow: 0 5px 6px -6px #777;
            -ms-box-shadow: 0 5px 6px -6px #777;
             -o-box-shadow: 0 5px 6px -6px #777;
                box-shadow: 0 6px 6px -6px #777;
    }
    
    .b-services-wrapper{
        max-width: 1200px;
        min-width: 960px;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .b-services-header{
            width: 960px;
            display: block;
            font-weight: lighter;
            margin: 0 auto;
            font-size: 35px;
            font-family: "Exo2Light";
            text-align: center;
            position: relative;
            color: #153170;

            &:before{
                content: ' ';
                width: 280px;
                height: 0px;
                position: absolute;
                border-top: 1px solid #1165ae;
                left: 0px;
                top: 50%;
            }

            &:after{
                content: ' ';
                width: 280px;
                height: 0px;
                position: absolute;
                border-top: 1px solid #1165ae;
                right: 0px;
                top: 50%;
            }
        }

        .b-helper{
            width: 100%;
            height: 0;
            visibility: hidden;
        }
        .b-services-menu-desktop-first{
            padding-top: 100px;
        }
        .b-services-menu-desktop-second{
            margin-top: 150px;
        }

        @media screen and (max-width: 1160px){
            .b-services-menu-desktop-first{
                padding-top: 0px;
            }
            .b-services-menu-desktop-second{
                margin-top: 0px!important;
            }
        }
        .b-services-menu-mob{
            display: none;
        }
        .b-services-menu-desktop{
            text-align: justify;
            list-style: none;
            li{
                display: inline-block;
                position: relative;
                a{
                    display: block;
                    //width: 230px;
                    //height: 200px;
                    position: absolute;
                    left: 0px;
                }
                span{
                    //position: absolute;
                    //right: -200px;
                    //top: 126px;
                    display: block;
                    width: 165px;
                    margin-left: 200px;
                    //height: 200px;
                    //line-height: 200px;
                }
                
                $scale_img: 1;

                .e-img1{
                    margin-top: -(55px * $scale_img);
                    margin-left: -(30px * $scale_img);
                    img{
                        width: (224px * $scale_img);
                        height: (153px * $scale_img);
                        
                    }
                }
                .e-img2{
                    margin-top: -93px;
                    margin-left: -36px;
                    img{
                        width: (233px * $scale_img);
                        height: (192px * $scale_img);
                    }
                }
                .e-img3{
                    margin-top: -55px;
                    margin-left: 20px;
                    img{
                        width: (179px * $scale_img);
                        height: (158px * $scale_img);
                    }
                }
                .e-img4{
                    margin-top: -65px;
                    margin-left: -(32px * $scale_img);
                    img{
                        width: (226px * $scale_img);
                        height: (162px * $scale_img);
                    }
                }
                .e-img5{
                    margin-top: -44px;
                    margin-left: 14px;
                    img{
                        width: (184px * $scale_img);
                        height: (145px * $scale_img);
                    }
                }
                .e-img6{
                    margin-top: -102px;
                    margin-left: 3px;
                    img{
                        width: (192px * $scale_img);
                        height: (177px * $scale_img);
                    }
                }

                @media screen and (max-width: 1160px){

                    .b-services-menu-desktop{
                        width: 90%;
                        margin: 0 auto;
                    }
                    $scale_img: 0.75;
                    span{
                        display: block;
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 100px;
                        text-align: center;
                        min-width: 230px;
                    }
                    a{
                        left: 50%;
                        bottom: 42px;
                    }
                    .e-img1{
                        margin-left: -(224px * $scale_img / 2);
                        img{
                            width: (224px * $scale_img);
                            height: (153px * $scale_img);
                            
                        }
                    }
                    .e-img2{
                        margin-left: -(233px * $scale_img / 2);
                        img{
                            width: (233px * $scale_img);
                            height: (192px * $scale_img);
                        }
                    }
                    .e-img3{
                        margin-left: -(179px * $scale_img / 2);
                        img{
                            width: (179px * $scale_img);
                            height: (158px * $scale_img);
                        }
                    }
                    .e-img4{
                        margin-left: -(226px * $scale_img / 2);
                        img{
                            width: (226px * $scale_img);
                            height: (162px * $scale_img);
                        }
                    }
                    .e-img5{
                        margin-left: -(145px * $scale_img / 2);
                        img{
                            width: (184px * $scale_img);
                            height: (145px * $scale_img);
                        }
                    }
                    .e-img6{
                        margin-left: -(192px * $scale_img / 2);
                        img{
                            width: (192px * $scale_img);
                            height: (177px * $scale_img);
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 860px){
    .b-services-menu-desktop{
        display: none!important;
    }
    .b-services-menu-mob{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}
*/


.b-services-page{
    margin-top: 20px!important;
}

@media (max-width: 1220px) {
    .b-services-page{
        margin-top: 20px!important;
        padding-top: 250px!important;
    }
}

@media (max-width: 800px) {
    .b-services-page{
        margin-top: 20px!important;
        padding-top: 150px!important;
    }
}
@media (max-width: 640px) {
    .b-services-page{
        margin-top: -50px!important;
        padding-top: 150px!important;
    }
}
@media (max-width: 330px) {
    .b-services-page{
        margin-top: -70px!important;
        padding-top: 150px!important;
    }
}