#about
{
	height: auto;
	padding: 300px 0 0 0;
	width: 100%;
}
#about .about
{
	height: auto;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 320px;
	width: 100%;
}
#about .about .zag
{
	color: #153170;
	font: 45px 'Exo2 Semibold',sans-serif;
	text-align: center;
	display: block;
}
#about .about .line
{
	background: #153170;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 15px;
	width: 100px;
}
#about .about .position
{
	color: #304880;
	font: 14px 'Exo2 Regular',sans-serif;
	text-align: center;
}
#about .about .position a
{
	color: #0f64ad;
}
#about .about main
{
	padding: 50px 0;
	color: #304880;
	font: 15px/19px 'Exo2 Light',sans-serif;
}

#about .about main *{
	color: #304880;
}

#about .about main .block1
{
	margin: 0 auto;
	max-width: 1200px;
	min-width: 300px;
	padding: 0 10px;
	width: auto;
}
#about .about main .block1 .block1a
{
	color: #304880;
	float: left;
	font: 15px 'Exo2 Medium',sans-serif;
	width: 49%;
}
#about .about main .block1 .block1b
{
	float: right;
	width: 49%;
}
#about .about main .block1 .block1b img
{
	border-radius: 10px;
}
#about .about main .history
{
	margin: 0 auto;
	margin-top: -50px;
	max-width: 1200px;
	min-width: 300px;
	padding: 0 10px;
	width: auto;
}
#about .about main .history .zag
{
	color: #00b3ff;
	font: 45px 'Exo2 Semibold',sans-serif;
	padding: 0 0 25px 0;
	text-align: left;
}
#about .about main .history .date
{
	height: auto;
	margin: 0 0 20px 0;
	width: 100%;
}
#about .about main .history .date .year
{
	color: #00b3ff;
	float: left;
	font: 45px 'Exo2 Semibold',sans-serif;
	margin-top: -11px;
	text-align: center;
	width: 9%;
	display: inline-block;
	vertical-align: middle;
}
#about .about main .history .date .lines
{
	border-top: 2px solid #00b3ff;
	float: left;
	margin-top: 18px;
	width: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
#about .about main .history .date .text1
{
	color: #304880;
	float: right;
	font: 15px 'Exo2 Light',sans-serif;
	width: 86%;
	display: inline-block;
	vertical-align: middle;
}
#about1
{
	background: image-url('about1bg.png') center center no-repeat;
	height: 485px;
	margin: 30px 0;
	padding: 30px 10px 0 10px;
	width: auto;
}
#about1 .about1 div
{
	color: #304880;
	font: 15px/19px 'Exo2 Light',sans-serif;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 0 5px 0;
	width: 100%;
}
#about1 .about1 div p
{
	color: #304880;
	font: 15px/19px 'Exo2 Light',sans-serif;
	padding: 0 0 5px 0;
}
#about2
{
	padding: 30px 0 45px 0;
	width: 100%;
}
#about2 .about2
{
	color: #304880;
	font: 15px/19px 'Exo2 Light',sans-serif;
	height: auto;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 320px;
	width: 100%;
}

#about2 .about2 .text * {
	color: #304880 !important;
}

@media (max-width:1171px)
{
	#about,	#about2
	{
		background: #fff;
	}
	#about1
	{
		background: #F4F6F9;
	}
}
@media (max-width:1100px)
{
	#about .about main .block1
	{
		margin: 0 auto;
		padding: 0 3%;
		width: 96%;
	}
	#about .about main .block1 .block1a
	{
		float: none;
		width: 100%;
	}
	#about .about main .block1 .block1b
	{
		float: none;
		margin: 0 auto;
		padding: 25px;
		width: 540px;
	}
	#about .about main .history
	{
		margin: 0 auto;
	}
	#about .about main .history .date .year
	{
		width: 12%;
	}
	#about .about main .history .date .text1
	{
		float: left;
		margin: 0 0 0 15px;
		width: 80%;
	}
	#about1
	{
		height: auto;
		margin: 0;
		padding: 15px 0 0 0;
		width: 100%;
	}
	#about1 .about1 div
	{
		padding: 0 3%;
		width: 96%;
	}
	#about2 .about2
	{
		margin: 0 auto;
		padding: 0 3%;
		width: 96%;
	}
}
@media (max-width:860px)
{
	#about .about main .history .date .text1{
		width: 70%;
	}
	#about .about main .history .date .year
	{
		width: 15%;
	}
}
@media (max-width:800px)
{
	#about
	{
		padding: 150px 0 0 0;
	}
}
@media (max-width:700px)
{
	#about .about main .history .date .year
	{
		font: 40px 'Exo2 Semibold',sans-serif;
	}
}
@media (max-width:640px)
{
	#about .about main .history .zag
	{
		font: 40px 'Exo2 Semibold',sans-serif;
		text-align: center;
	}
	#about .about main .history .date .year
	{
		font: 40px 'Exo2 Semibold',sans-serif;
	}
	#about .about main .history .date .text1
	{
		float: left;
		margin: 0 0 0 15px;
		width: 70%;
	}
}
@media (max-width:590px)
{
	#about
	{
		padding: 100px 0 0 0;
	}
	#about .about main .block1 .block1b
	{
		float: none;
		margin: 0 auto;
		padding: 25px;
		width: 265px;
	}
	#about .about main .history .zag
	{
		font: 35px 'Exo2 Semibold',sans-serif;
	}
	#about .about main .history .date .year
	{
		font: 40px 'Exo2 Semibold',sans-serif;
	}
	#about .about main .history .date .lines
	{
		display: none;
	}
	#about .about main .history .date .text1
	{
		float: left;
		margin: 0 0 0 15px;
		width: 70%;
	}
}
@media (max-width:480px)
{
	#about .about main .block1
	{
		margin: 0 auto;
		padding: 0;
	}
	#about .about main .block1 .block1a
	{
		padding: 0 15px;
		width: auto;
	}
	#about .about main .history .date .year
	{
		font: 35px 'Exo2 Semibold',sans-serif;
		width: 25%;
	}
	#about .about main .history .date .text1
	{
		float: left;
		margin: 0 0 0 5%;
		width: 55%;
	}
}
#photo
{
	margin: 0 auto;
	padding: 300px 0 0 0;
	width: 100%;
}
#photo .photon
{
	height: auto;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 320px;
	width: 100%;
}
#photo .photon .zag
{
	color: #153170;
	font: 45px 'Exo2 Semibold',sans-serif;
	text-align: center;
	display: block;
}
#photo .photon .line
{
	background: #153170;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 15px;
	width: 100px;
}
#photo .photon .position
{
	color: #304880;
	font: 14px 'Exo2 Regular',sans-serif;
	text-align: center;
}
#photo .photon .position a
{
	color: #0f64ad;
}
#photo .photon .photos-text
{
	color: #304880;
	font: 15px 'Exo2 Light',sans-serif;
	height: auto;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 300px;
	padding: 30px 10px;
	text-align: justify;
	width: auto;
}
#photo .photon .photos-text *
{
	color: #304880;
}
#photo .photon .photos
{
	height: auto;
	margin: 0 auto;
	max-width: 1200px;
}
#photo .photon .photos .photo
{
	border: 1px solid #395086;
	border-radius: 140px;
	float: left;
	height: 268px;
	margin: 15px;
	overflow: hidden;
	position: relative;
	width: 268px;
}
#photo .photon .photos .photo .e-show-img-photo
{
	background: image-url('photo-loop.png') center center no-repeat;
	bottom: -1px;
	display: block;
	height: 46px;
	left: 50%;
	margin-left: -35px;
	opacity: 0.8;
	position: absolute;
	width: 71px;
}
#photo .photon .photos .photo .e-show-img-photo:hover
{
	opacity: 1.0;
}
#photo .photon .photos .photo .photo-img
{
	border-radius: 130px;
	height: 250px;
	//margin: 9px;
	overflow: hidden;
	width: 250px;
}
#photo .photon .photos .photo .photo-img:hover
{
	border-radius: 150px;
	height: 278px;
	margin: 0;
	width: 278px;
}
#photo .photon .photos .photo .photo-img img{
	width: 100%;
	height:100%;
}
#photo .photon .newsbutton
{
	background: image-url('nb-line.png') center center no-repeat;
	height: auto;
	width: 100%;
}
#photo .photon .newsbutton a
{
	background: image-url('nb.png') center center no-repeat;
	cursor: pointer;
	display: block;
	height: 55px;
	margin: 0 auto;
	width: 55px;
}
#photo .photon .text
{
	color: #0F64AD;
	font: 15px 'Exo2 Regular',sans-serif;
	padding-top: 5px;
	text-align: center;
}
@media (min-width:1200px) and (max-width:1240px)
{
	#photo .photon .photos
	{
		max-width: 1200px;
	}
	#photo .photon .photos .photo
	{
		margin: 10px;
	}
}
@media (min-width:980px) and (max-width:1199px)
{
	#photo
	{
		background: #fff;
	}
	#photo .photon .photos
	{
		max-width: 960px;
		padding: 35px 0 65px 0;
	}
	#photo .photon .photos .photo
	{
		margin: 20px;
	}
}
@media (min-width:800px) and (max-width:979px)
{
	#photo
	{
		background: #fff;
	}
	#photo .photon .photos
	{
		background: none !important;
		margin: 0 auto;
		max-width: 750px;
		padding: 35px 0 45px 0;
	}
	#photo .photon .photos .photo
	{
		height: 228px;
		margin: 10px;
		width: 228px;
	}
	#photo .photon .photos .photo .photo-img
	{
		height: 210px;
		width: 210px;
	}
	#photo .photon .photos .photo .photo-img:hover
	{
		border-radius: 150px;
		height: 228px;
		margin: 0;
		width: 228px;
	}
}
@media (max-width:799px)
{
	#photo
	{
		background: #fff;
		padding: 150px 0 0 0;
	}
	#photo .photon .photos
	{
		background: none !important;
		margin: 0 auto;
		max-width: 500px;
		padding: 35px 0 45px 0;
	}
	#photo .photon .photos .photo
	{
		height: 228px;
		margin: 10px;
		width: 228px;
	}
	#photo .photon .photos .photo .photo-img
	{
		height: 210px;
		width: 210px;
	}
	#photo .photon .photos .photo .photo-img:hover
	{
		border-radius: 150px;
		height: 228px;
		margin: 0;
		width: 228px;
	}
}
@media (max-width:640px)
{
	#photo
	{
		padding: 100px 0 0 0;
	}
	#photo .photon .photos
	{
		background: none;
		margin: 0 auto;
		padding: 20px 0;
		width: 400px;
	}
	#photo .photon .photos .photo
	{
		height: 178px;
		margin: 10px;
		width: 178px;
	}
	#photo .photon .photos .photo .photo-img
	{
		height: 160px;
		width: 160px;
	}
	#photo .photon .photos .photo .photo-img:hover
	{
		border-radius: 150px;
		height: 178px;
		margin: 0;
		width: 178px;
	}
}
@media (max-width:480px)
{
	#photo .photon .photos
	{
		background: none;
		margin: 0 auto;
		padding: 15px 0;
		width: 100%;
	}
	#photo .photon .photos .photo
	{
		float: none;
		height: 178px;
		margin: 0 auto;
		margin-top: 10px;
		width: 178px;
	}
	#photo .photon .photos .photo .photo-img
	{
		height: 160px;
		width: 160px;
	}
	#photo .photon .photos .photo .photo-img:hover
	{
		border-radius: 150px;
		height: 178px;
		margin: 0;
		width: 178px;
	}
}
#about2
{
	background: image-url('shadow.png') center top no-repeat;
	padding: 80px 0 40px 0;
	width: 100%;
}
#about2 .about2
{
	margin: 0 auto;
	max-width: 1200px;
	min-width: 300px;
	padding: 0 10px;
	width: auto;
}
#about2 .about2 .zag
{
	border-left: 8px solid #0F64AD;
	color: #153170;
	font: 35px 'Exo2 Light',sans-serif;
	line-height: 50px;
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	text-align: left;
}
#about2 .about2 .text
{
	color: #304880!important;
	font: 15px 'Exo2 Light',sans-serif;
	text-align: justify;
}
#about2 .about2 .text p{
	color: #304880!important;
}
@media (max-width:1199px)
{
	#about2
	{
		background: #fff image-url('shadow.png') center top no-repeat;
	}
	#about2 .about2 .zag
	{
		border-left: 0;
		padding: 0;
		text-align: center;
	}
}
@media (max-width:480px)
{
	#about2 .about2 .zag
	{
		font-size: 30px;
	}
}
@media (max-width:330px)
{
	#about2 .about2 .zag
	{
		font-size: 20px;
	}
}
#content
{
	margin: 0 auto;
	padding: 300px 0 0 0;
	width: 100%;
}
#content .content
{
	height: auto;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 320px;
	width: 100%;
}
#content .content .zag
{
	color: #153170;
	font: 38px 'Exo2 Semibold',sans-serif;
	text-align: center;
	display: block;
}
#content .content .line
{
	background: #153170;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 15px;
	width: 100px;
}
#content .content .position
{
	color: #304880;
	font: 14px 'Exo2 Regular',sans-serif;
	text-align: center;
}
#content .content .position a
{
	color: #0f64ad;
}
#content .content main .content2,
	#content .content main .content1
{
	color: #304880;
	font: 15px 'Exo2 Light',sans-serif;
	height: auto;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 300px;
	padding: 0 10px 50px 10px;
	text-align: justify;
	width: auto;
}
#content .content main .content1 *{
	color: #304880;
}
#content .content main .content2 .photo,
	#content .content main .content1 .photo
{
	border: 1px solid #395086;
	border-radius: 140px;
	height: 268px;
	margin: 0 15px 50px 15px;
	overflow: hidden;
	position: relative;
	width: 268px;
}
#content .content main .content2 .photo a,
	#content .content main .content1 .photo a
{
	background: image-url('photo-loop.png') center center no-repeat;
	bottom: -1px;
	display: block;
	height: 46px;
	left: 50%;
	margin-left: -35px;
	opacity: 0.8;
	position: absolute;
	width: 71px;
}
#content .content main .content2 .photo a:hover 
	#content .content main .content1 .photo a:hover
{
	opacity: 1.0;
}
#content .content main .content2 .photo .photo-img,
	#content .content main .content1 .photo .photo-img
{
	border-radius: 130px;
	height: 250px;
	margin: 9px;
	overflow: hidden;
	width: 250px;
}
#content .content main .content2 .photo .photo-img:hover,
	#content .content main .content1 .photo .photo-img:hover
{
	border-radius: 150px;
	height: 278px;
	margin: 0;
	width: 278px;
}
#content .content main .content1
{
	margin-top: 50px;
}
@media (min-width:551px)
{
	#content .content main .content2 .photo
	{
		float: left;
	}
	#content .content main .content1 .photo
	{
		float: right;
	}
}
@media (min-width:320px) and (max-width:550px)
{
	#content .content main .content2 .photo
	{
		float: none;
		margin: 0 auto;
	}
	#content .content main .content1 .photo
	{
		float: none;
		margin: 0 auto;
	}
}

@media (max-width:1000px){
	#content .content .zag{
		font-size: 35px;
	}
}

@media (max-width:800px)
{
	#content
	{
		padding: 150px 0 0 0;
	}

	#content .content .zag{
		font-size: 30px;
	}
}
@media (max-width:590px)
{
	#content
	{
		padding: 100px 0 0 0;
	}

	#content .content .zag{
		font-size: 20px;
	}
}
@media (max-width:1199px)
{
	#content
	{
		background: #fff;
	}
}

@media (max-width:450px)
{

	#content .content .zag{
		font-size: 16px;
	}
}