// Place all the styles related to the agreement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.e-agreement-href{
	text-align: center;
	display: block;
	width: 100%;
	color: #fff!important;
}

.e-agreement-title{
	width: 100%;
	max-width: 660px;
	min-width: 300px;
	font-size: 22px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
	display: block;
}

.e-agreement-text-wrapper{
	width: 100%;
	max-width: 680px;
	min-width: 320px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.e-agreement-text{
	font-size: 14px;
	text-align: justify;
	max-width: 660px;
	padding-left: 10px;
	padding-right: 10px;
}

.e-checkbox-block{
	text-align: left;
	width: 100%;
	height: 20px!important;
	color: #fff!important;
	.e-checkbox{
		display: block;
		width: 12px!important;
		height: 12px!important;
		margin: 0!important;
		padding: 0!important;
		
		display: inline-block!important;
		cursor: pointer!important;

	}
	.e-checkbox-label{
		color: #fff!important;
		font-size: 11px!important;
		display: inline-block!important;
		line-height: 12px!important;
	}
}

#sendPopupDataBtnMain:disabled{
	cursor: default!important;
	//background: #F4F6F9!important;
}

#sendPopupDataBtnBuyForm:disabled{
	cursor: default!important;
	//background: #F4F6F9!important;
}

#sendPopupDataBtnPopup:disabled{
	cursor: default!important;
	//background: #F4F6F9!important;
}