.p-auto {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 235px;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    height: 673px;
    background: image-url('block1-bg.png') top center;
    background-size: cover;
    z-index: 90;
}

.p-auto .zag
{
	color: #153170;
	font: 45px 'Exo2 Semibold',sans-serif;
	text-align: center;
    display: block;
}

.p-auto .line
{
	background: #153170;
	height: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 15px;
	width: 100px;
}

.p-auto .position
{
	color: #304880;
	font: 14px 'Exo2 Regular',sans-serif;
	text-align: center;
}
.p-auto .position a
{
	color: #0f64ad;
}


.p-auto .zag {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    background: image-url('zagline1.png') center center no-repeat;
    font: 45px 'Exo2 Light', sans-serif;
    color: #153170;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}
.p-auto .content {
    margin: 0 auto;
    height: auto;
    width: 100%;
    min-width: 320px;
    max-width: 1300px;
}
.p-auto .content div {
    display: block;
    float: left;
    width: 33.3334%;
    height: 238px;
    overflow: visible;
    cursor: pointer;
}
.p-auto .content .cnt1 {
    background: image-url('services/block1f.png') 35px top no-repeat;
}
.p-auto .content .cnt1 div {
    margin: 92px 0 0 274px;
    width: 214px;
}
.p-auto .content .cnt2 {
    background: image-url('retrocar.png') 20px 31px no-repeat;
}
.p-auto .content .cnt2 div {
    margin: 89px 0 0 280px;
    width: 214px;
}
.p-auto .content .cnt3 {
    background: image-url('off_road.png') 25px 34px no-repeat;
}
.p-auto .content .cnt3 div {
    margin: 85px 0 0 240px;
    width: 214px;
}
.p-auto .content .cnt4 {
    background: image-url('to.png') left 30px no-repeat;
}
.p-auto .content .cnt4 div {
    margin: 85px 0 0 275px;
    width: 214px;
}
.p-auto .content .cnt5 {
    background: image-url('moto.png') 70px 35px no-repeat;
    background-size: 240px 175px;
}
.p-auto .content .cnt5 div {
    margin: 95px 0 0 281px;
    width: 214px;
}


.p-auto .content div a {
    font: 18px 'Exo2 Regular', sans-serif;
    text-transform: uppercase;
    color: #153170;
    text-decoration: none;
}
.p-auto .content div a:hover {
    text-decoration: underline;
}
@media (max-width: 1220px) {
    .p-auto {
        margin-top: 10px;
        padding-top: 235px;
        width: 100%;
        min-width: 320px;
        height: 730px;
    }
    .p-auto .content {
        margin-top: 25px;
    }
    .p-auto .content div {
        height: 250px;
        font: 16px 'Exo2 Regular', sans-serif;
    }
    .p-auto .content .cnt1 div,
    .p-auto .content .cnt2 div,
    .p-auto .content .cnt3 div,
    .p-auto .content .cnt4 div,
    .p-auto .content .cnt5 div,
    .p-auto .content .cnt6 div {
        margin: 200px 0 0 0;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 760px) {

    .p-auto .content .cnt1 {
        background: image-url('services/block1f.png') center top no-repeat;
        background-size: auto 60%;
    }
    .p-auto .content .cnt2 {
        background: image-url('retrocar.png') center 20px no-repeat;
        background-size: auto 50%;
    }
    .p-auto .content .cnt3 {
        background: image-url('off_road.png') center 20px no-repeat;
        background-size: auto 50%;
    }
    .p-auto .content .cnt4 {
        background: image-url('to.png') center 20px no-repeat;
        background-size: auto 50%;
    }
    .p-auto .content .cnt5 {
        background: image-url('moto.png') 33px 22px no-repeat;
        background-size: auto 56%;
    }

    .p-auto .content .cnt1 div {
        margin: 170px 0 0 0;
    }
    .p-auto .content .cnt2 div {
        margin: 170px 0 0 0;
    }
    .p-auto .content .cnt3 div {
        margin: 170px 0 0 0;
    }
    .p-auto .content .cnt4 div {
        margin: 170px 0 0 0;
    }
    .p-auto .content .cnt5 div {
        margin: 170px 0 0 0;
    }
}

@media (max-width: 640px) {
    .p-auto {
        height: 812px;
        background: #D9EBFF;
        padding-top: 130px;
        position: relative;
        z-index: 1;
    }
    .p-auto .content div {
        height: 200px;
        width: 50%;
        margin-top: 30px;
    }
    .p-auto .content .cnt1 {
        background: image-url('services/block1f.png') center top no-repeat;
        background-size: auto 70%;
    }
    .p-auto .content .cnt2 {
        background: image-url('retrocar.png') center 20px no-repeat;
        background-size: auto 60%;
    }
    .p-auto .content .cnt3 {
        background: image-url('off_road.png') center 20px no-repeat;
        background-size: auto 60%;
    }
    .p-auto .content .cnt4 {
        background: image-url('to.png') center 20px no-repeat;
        background-size: auto 60%;
    }
    .p-auto .content .cnt5 {
        background: image-url('moto.png') center 20px no-repeat;
        background-size: auto 70%;
    }

    .p-auto .content .cnt1 div {
        margin: 150px 0 0 0;
    }
    .p-auto .content .cnt2 div {
        margin: 150px 0 0 0;
    }
    .p-auto .content .cnt3 div {
        margin: 150px 0 0 0;
    }
    .p-auto .content .cnt4 div {
        margin: 150px 0 0 0;
    }
    .p-auto .content .cnt5 div {
        margin: 150px 0 0 0;
    }
    
}
@media (max-width: 768px) {
    .p-auto .zag {
        font: 35px 'Exo2 Light', sans-serif;
    }
}
@media (max-width: 480px) {
    .p-auto .zag {
        font: 30px 'Exo2 Light', sans-serif;
    }
}
@media (max-width: 330px) {
    .p-auto {
        height: 1380px;
        background: #D9EBFF;
        padding-top: 130px;
    }
    .p-auto .zag {
        font: 20px 'Exo2 Light', sans-serif;
    }
    .p-auto .content div {
        height: 240px;
        width: 100%;
        margin-top: 15px;
    }

    .p-auto .content .cnt1 div {
        margin: 180px 0 0 0;
    }
    .p-auto .content .cnt2 div {
        margin: 180px 0 0 0;
    }
    .p-auto .content .cnt3 div {
        margin: 180px 0 0 0;
    }
    .p-auto .content .cnt4 div {
        margin: 180px 0 0 0;
    }
    .p-auto .content .cnt5 div {
        margin: 180px 0 0 0;
    }
}