.b-contacts
{
    margin: 0 auto;
    padding: 300px 0 0 0;
    width: 100%;
    min-width: 320px;
}
.b-contacts .b-contacts-wrapper
{
    height: auto;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
}
.b-contacts .b-contacts-wrapper .zag
{
    color: #153170;
    font: 45px 'Exo2 Semibold',sans-serif;
    text-align: center;
    display: block;
}
.b-contacts .b-contacts-wrapper .line
{
    background: #153170;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 100px;
}
.b-contacts .b-contacts-wrapper .position
{
    color: #304880;
    font: 14px 'Exo2 Regular',sans-serif;
    text-align: center;
}
.b-contacts .b-contacts-wrapper .position a
{
    color: #0f64ad;
}

@media (min-width:980px) and (max-width:1199px)
{
    .b-contacts
    {
        background: #fff;
    }
}

@media (max-width:799px)
{
    .b-contacts
    {
        background: #fff;
        padding: 150px 0 0 0;
    }
}

@media (max-width:640px)
{
    .b-contacts
    {
        padding: 100px 0 0 0;
    }   
}


.e-main-contacts-wrapper{
    width: 980px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;

    .e-main-contacts-address{
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
        padding-bottom: 10px;
        img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            color: #153170;
            font-size: 20px;
        }
    }

    .e-main-contacts-phone{
        display: inline-block;
        vertical-align: top;

        border-left: 2px solid #153170;
        margin-left: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        .e-main-contacts-phone-text{
            display: inline-block;
            color: #153170;
            font-size: 20px;
            vertical-align: top;
            
        }

        .e-main-contacts-phone-num{
            display: inline-block;
            vertical-align: top;
            img{
                margin-left: 10px;
                margin-right: 10px;
                vertical-align: middle;
            }
            span{
                display: inline-block;
                vertical-align: middle;
                color: #153170;
                font-size: 24px;
                b{
                    color: #153170;
                }
            }
            
        }
    }
}

.b-contacts-row-wrapper{
    width: 560px;
    margin: 0 auto;
    min-height: 400px;
    padding-bottom: 40px;
}

.b-contacts-row{
    display: table;
    width: 100%;
    letter-spacing: 0;

    .b-contacts-col{
        float: left;
        width: 320px;
        height: 110px;
        letter-spacing: normal;
        display:table-row;
        .e-ico-phone-href{
            display: table-cell!important;
            vertical-align: middle!important;
            width: 40px!important;
            height: 110px!important;
            .e-ico-cont-phone{
                display: block;
                width: 40px!important;
                height: 110px!important;
                background: image-url('contacts/ll2.png') center center no-repeat;
            }
        }

        .e-ico-cont{
            display: table-cell!important;
            vertical-align: middle!important;
            width: 40px!important;
            height: 110px!important;
            background: image-url('contacts/ll1.png') center center no-repeat;
        }

        .e-ico-phone{
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            height: 110px;
            background: image-url('contacts/ll2.png') center center no-repeat;
        }

        .e-ico-email{
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            height: 110px;
            background: image-url('contacts/ll3.png') center center no-repeat;
        }

        .e-text-cont{
            display: table-cell;
            vertical-align: middle;

            padding-left: 10px;
            font-size: 18px;
            color: #153170;
        }
        .e-text-phone{
            line-height: 40px;
            height: 40px;
            font-size: 20px;
        }
        .e-text-phone-internal{
            display: inline-block;
            height: 40px;
            line-height: 40px;
            background: #dde2eb;
            border-radius: 20px;
            color: #153170;
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            margin-left: 10px;
        }
    }

    .e-contacts-col-phone{
        width: 220px;
        margin-left: 20px;
    }
}

@media (max-width:660px)
{
    .b-contacts-row-wrapper{
        width: 540px;
    }

    .b-contacts-row{
        border-bottom: 1px solid #847063;

        .e-contacts-col-phone{
            margin-left: 0px!important;
            padding-bottom: 10px;
        }
    }
}

@media (max-width:660px)
{
    .b-contacts-row-wrapper{
        width: 330px;
    }
}

@media (max-width:360px)
{
    .b-contacts-row-wrapper{
        width: 280px;
    }
    .b-contacts-row{
        .b-contacts-col{
            width: 280px;
            //margin-left: 20px;
        }
    }
}

.e-main-contacts-phone-num-img2{
    display: none;
}

@media (max-width:1000px)
{
    .e-main-contacts-wrapper{
        width: 750px;
        .e-main-contacts-address{
            span{
                
                font-size: 16px;
            }
        }
        .e-main-contacts-phone{
            height: 48px;
            .e-main-contacts-phone-text{
                
                font-size: 16px;
                vertical-align: top;
            }

            .e-main-contacts-phone-num{
                
                
                span{
                    display: inline-block;
                    color: #153170;
                    font-size: 20px;
                }
                
            }
        }
    }
}

@media (max-width:760px)
{
    .e-main-contacts-wrapper{
        width: 100%;
        .e-main-contacts-address{
            float: left;
            padding-left: 50px;
            img{
                width: 50px;
                text-align: center;
                display: block;
                margin: 0 auto;
            }
            span{
                
                font-size: 16px;
                text-align: center;
            }
        }
        .e-main-contacts-phone{
            float: right;
            padding-right: 50px;
            border-left: none;
            .e-main-contacts-phone-num-img2{
                width: 50px;
                text-align: center;
                display: block;
                margin: 0 auto;
            }
            .e-main-contacts-phone-text{
                font-size: 16px;
                display: block;
                text-align: center;
            }
            
            .e-main-contacts-phone-num{
                display: block;
                span{
                    display: inline-block;
                    color: #153170;
                    font-size: 20px;
                    text-align: center;
                }
                .e-main-contacts-phone-num-img1{
                    display: none;
                }
                
            }
        }
    }
}
@media (max-width:620px)
{
    .e-main-contacts-wrapper{
        .e-main-contacts-address{
            padding-left: 20px;
        }

        .e-main-contacts-phone{
            padding-right: 20px;
        }
    }
}

@media (max-width:550px)
{
    .e-main-contacts-wrapper{
        width: 100%;

        .e-main-contacts-address{
            width: 100%;
            float: none;
            display: block;
            margin: 0 auto;
            padding: 0;
            margin: 0;
            img{
                width: 50px;
                display: block;
                margin: 0 auto;
            }
            span{
                display: block;
                text-align: center;
            }
        }
        .e-main-contacts-phone{
            float: none;
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            margin: 0;
            margin-top: 50px;
            padding-bottom: 50px;
            img{
                width: 50px;
                display: block;
                margin: 0 auto;
            }
            .e-main-contacts-phone-num{
                span{
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
            
        }
    }
}
.e-main-contacts-map{
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}