.b-page404, .b-page500{
    width: 100%;
    //height: 100vh;
    min-height: 1000px;
    background: #fff;
    text-align: center;
    .b-page404-header, .b-page500-header{
        width: 100%;
        height: 300px;

    }
    .b-page404-wrapper, .b-page500-wrapper{
        background-image: image-url('bg404.png');
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 830px;
        min-height: 600px;
        margin: 0 auto;
        text-align: center;

        .e-title{
            text-align: center;
            padding-top: 80px;
            color: #fff;
            font-size: 42px;
            text-transform: uppercase;
        }
        .e-text{
            text-align: center;
            display: inline-block;
            width: 100%;
            color: #fff;
            font-size: 14px;
            padding-top: 20px;
        }

        .e-text-desktop{
            display: block;
        }
        .e-text-mobile{
            display: none;
        }
    }
    .e-back-btn{
        width: 280px;
        height: 50px;
        line-height: 50px;
        border-radius: 30px 30px 30px 30px;
        color: #fff;
        text-align: center;
        background-color: #506594;
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

@media (max-width: 800px) {
    .b-page404, .b-page500{
        min-height: 800px;

        .b-page404-header, .b-page500-header {
            height: 115px;
        }

        
    }
}
@media (max-width: 760px) {
    .b-page404, .b-page500{
        min-height: 700px;
        .b-page404-wrapper, .b-page500-wrapper{
            min-height: 500px;
            .e-title{
                font-size: 30px;
            }
            .e-text{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 660px) {
    .b-page404, .b-page500{
        .b-page404-wrapper, .b-page500-wrapper{
            .e-title{
                padding-top: 60px;
            }
            .e-text{
                padding-top: 10px;
            }
        }
    }
}

@media (max-width: 640px) {
    .b-page404, .b-page500{
        min-height: 550px;
        .b-page404-header, .b-page500-header {
            height: 60px;
        }
        .b-page404-wrapper, .b-page500-wrapper{
            min-height: 400px;
            .e-title{
                font-size: 28px;
            }
            .e-text{
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 510px) {
    .b-page404, .b-page500{
         min-height: 500px;
        .b-page404-wrapper, .b-page500-wrapper{
            min-height: 350px;
            .e-title{
                font-size: 24px;
                padding-top: 40px;
            }
            .e-text{
                padding-top: 5px;
            }
            .e-text-desktop{
                display: none;
            }
            .e-text-mobile{
                display: block;
            }
        }
    }
}

@media (max-width: 450px) {
    .b-page404, .b-page500{
        .b-page404-wrapper, .b-page500-wrapper{
            .e-title{
                font-size: 20px;
                padding-top: 35px;
            }
            .e-text{
                padding-top: 5px;
            }
        }
    }
}

@media (max-width: 420px) {
    .b-page404, .b-page500{
        .b-page404-wrapper, .b-page500-wrapper{
            .e-title{
                font-size: 18px;
                padding-top: 30px;
            }
            .e-text{
                padding-top: 5px;
            }
        }
    }
}

@media (max-width: 400px) {
    .b-page404, .b-page500{
        .b-page404-wrapper, .b-page500-wrapper{
            .e-title{
                font-size: 16px;
                padding-top: 30px;
            }
            .e-text{
                font-size: 8px;
                padding-top: 5px;
            }
        }
    }
}


@media (max-width: 380px) {
    .b-page404, .b-page500{
         min-height: 450px;
        .b-page404-wrapper, .b-page500-wrapper{
            min-height: 300px;
        }
    }
}

@media (max-width: 340px) {
    .b-page404, .b-page500{
         min-height: 400px;
        .b-page404-wrapper, .b-page500-wrapper{
            min-height: 250px;
        }
    }
}


@media (max-width: 310px) {
    .b-page404, .b-page500{
        .b-page404-wrapper, .b-page500-wrapper{
            .e-title{
                font-size: 16px;
                padding-top: 25px;
            }
            .e-text{
                font-size: 7px;
                padding-top: 3px;
            }
        }
    }
}


@media (max-width: 280px) {
    .b-page404, .b-page500{
        .b-page404-wrapper, .b-page500-wrapper{
            .e-title{
                font-size: 15px;
                padding-top: 25px;
            }
            .e-text{
                font-size: 6px;
                padding-top: 2px;
            }
        }
    }
}