@font-face {
    font-family: 'Exo2 Regular';
    src: local('☺'), asset-url('Exo2.0-Regular.woff') format('woff'), asset-url('Exo2.0-Regular.ttf') format('truetype'), asset-url('Exo2.0-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'Exo2 Bold';
    src: local('☺'), asset-url('Exo2.0-Bold.woff') format('woff'), asset-url('Exo2.0-Bold.ttf') format('truetype'), asset-url('Exo2.0-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2 Italic';
    src: local('☺'), asset-url('Exo2.0-Italic.woff') format('woff'), asset-url('Exo2.0-Italic.ttf') format('truetype'), asset-url('Exo2.0-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2 Light';
    src: local('☺'), asset-url('Exo2.0-Light.woff') format('woff'), asset-url('Exo2.0-Light.ttf') format('truetype'), asset-url('Exo2.0-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo2 Medium';
    src: local('☺'), asset-url('Exo2.0-Medium.woff') format('woff'), asset-url('Exo2.0-Medium.ttf') format('truetype'), asset-url('Exo2.0-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2 Semibold';
    src: local('☺'), asset-url('Exo2.0-SemiBold.woff') format('woff'), asset-url('Exo2.0-SemiBold.ttf') format('truetype'), asset-url('Exo2.0-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/