#main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    height: auto;
    overflow: hidden;
}
.clr {
    clear: both;
}
/* Block 1 */

#block1 {
    position: relative;
    margin: 0 auto;
    margin-top: -235px;
    padding-top: 235px;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    height: 673px;
    background: image-url('block1-bg.png') top center;
    background-size: cover;
    z-index: 90;
}
#block1 .zag {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    background: image-url('zagline1.png') center center no-repeat;
    font: 45px 'Exo2 Light', sans-serif;
    color: #153170;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
#block1 .content {
    margin: 0 auto;
    height: auto;
    width: 100%;
    min-width: 320px;
    max-width: 1300px;
}
#block1 .content div {
    display: block;
    float: left;
    width: 33.3334%;
    height: 238px;
    overflow: visible;
}
#block1 .content .cnt1 {
    background: image-url('services/block1a.png') left 47px no-repeat;
    background-size: auto 68%;
    cursor: pointer;
}
#block1 .content .cnt1 div {
    margin: 115px 0 0 234px;
    width: 214px;
}
#block1 .content .cnt2 {
    background: image-url('services/block1b.png') 0px top no-repeat;
    cursor: pointer;
}
#block1 .content .cnt2 div {
    margin: 115px 0 0 274px;
    width: 214px;
}
#block1 .content .cnt3 {
    background: image-url('services/block1c.png') -30px 0px no-repeat;
    cursor: pointer;
}
#block1 .content .cnt3 div {
    margin: 125px 0 0 244px;
    width: 214px;
}
#block1 .content .cnt4 {
    background: image-url('services/block1d.png') -33px -15px no-repeat;
    cursor: pointer;
}
#block1 .content .cnt4 div {
    margin: 82px 0 0 241px;
    width: 214px;
}
#block1 .content .cnt5 {
    background: image-url('services/block1e.png') 2px -15px no-repeat;
    cursor: pointer;
}
#block1 .content .cnt5 div {
    margin: 92px 0 0 275px;
    width: 214px;
}
#block1 .content .cnt6 {
    background: image-url('services/block1f.png') 41px 24px no-repeat;
    background-size: auto 68%;
    cursor: pointer;
}
#block1 .content .cnt6 div {
    margin: 92px 0 0 231px;
    width: 214px;
}
#block1 .content div a {
    font: 18px 'Exo2 Regular', sans-serif;
    text-transform: uppercase;
    color: #153170;
    text-decoration: none;
}
#block1 .content div a:hover {
    text-decoration: underline;
}
@media (max-width: 1220px) {
    #block1 .content .cnt1 {
        background: image-url('services/block1a.png') left 45px no-repeat;
        background-size: auto 57%;
    }
    
    #block1 .content .cnt6 {
        background: image-url('services/block1f.png') 41px 23px  no-repeat;
        background-size: auto 58%;
    }

    #block1 {
        margin-top: -150px;
        padding-top: 170px;
        width: 100%;
        min-width: 320px;
        height: 730px;
    }
    #block1 .content {
        margin-top: 25px;
    }
    #block1 .content div {
        height: 290px;
        font: 16px 'Exo2 Regular', sans-serif;
    }
    #block1 .content .cnt1 div,
    #block1 .content .cnt2 div,
    #block1 .content .cnt3 div,
    #block1 .content .cnt4 div,
    #block1 .content .cnt5 div,
    #block1 .content .cnt6 div {
        margin: 210px 0 0 0;
        width: 100%;
        text-align: center;
    }
    #block1 .content .cnt4 div,
    #block1 .content .cnt5 div,
    #block1 .content .cnt6 div{
        margin: 200px 0 0 0;
    }
}
@media (max-width: 820px) {
    #block1 .content .cnt1 {
        background: image-url('services/block1a.png') center 34px no-repeat;
        background-size: 75% auto;
    }
    #block1 .content .cnt2 {
        background: image-url('services/block1b.png') center 0px no-repeat;
        background-size: 99% auto;
    }
    #block1 .content .cnt3 {
        background: image-url('services/block1c.png') center 0px no-repeat;
         background-size: 99% auto;
        //background-size: 60% auto;
    }
    #block1 .content .cnt4 {
        background: image-url('services/block1d.png') center -40px no-repeat;
        //background-size: 75% auto;
    }
    #block1 .content .cnt5 {
        background: image-url('services/block1e.png') center -40px no-repeat;
        //background-size: 75% auto;
    }
    #block1 .content .cnt6 {
        background: image-url('services/block1f.png') center top no-repeat;
        background-size: 69% auto;
    }

    #block1 .content .cnt1 div {
        margin: 170px 0 0 0;
    }
    #block1 .content .cnt2 div {
        margin: 170px 0 0 0;
    }
    #block1 .content .cnt3 div {
        margin: 170px 0 0 0;
    }
    #block1 .content .cnt4 div {
        margin: 170px 0 0 0;
    }
    #block1 .content .cnt5 div {
        margin: 170px 0 0 0;
    }
    #block1 .content .cnt6 div {
        margin: 170px 0 0 0;
    }
}

@media (max-width: 760px) {
    #block1 .content .cnt1 {
        background: image-url('services/block1a.png') center 0px no-repeat;
        background-size: 90% auto;
    }
    #block1 .content .cnt2 {
        background: image-url('services/block1b.png') center -49px no-repeat;
        //background-size: 122% auto;
    }
    #block1 .content .cnt3 {
        background: image-url('services/block1c.png') center -49px no-repeat;
        //background-size: 122% auto;
    }

    #block1 .content .cnt6 {
        background-size: 80% auto;
    }
}

@media (max-width: 760px) {
    #block1 .content .cnt1 {
        background: image-url('services/block1a.png') center 0px no-repeat;
        background-size: 95% auto;
    }
}

@media (max-width: 640px) {
    #block1 {
        height: 810px;
        background: #D9EBFF;
        padding-top: 130px;
    }
    #block1 .content div {
        height: 240px;
        width: 50%;
        margin-top: 30px;
    }
    #block1 .content div:nth-child(3),
    #block1 .content div:nth-child(4),
    #block1 .content div:nth-child(5),
    #block1 .content div:nth-child(6) {
        height: 190px;
    }
    #block1 .content .cnt1 {
        background: image-url('services/block1a.png') center 46px no-repeat;
        background-size: 70% auto;
    }
    #block1 .content .cnt2 {
        background: image-url('services/block1b.png') center top no-repeat;
        background-size: 95% auto;
    }
    #block1 .content .cnt3 {
        background: image-url('services/block1c.png') center -40px no-repeat;
        //background-size: auto 150px;
        background-size: 95% auto;
    }
    #block1 .content .cnt4 {
        background: image-url('services/block1d.png') center -40px no-repeat;
        background-size: 95% auto;
    }
    #block1 .content .cnt5 {
        background: image-url('services/block1e.png') center -40px no-repeat;
        background-size: 95% auto;
    }
    #block1 .content .cnt6 {
        background: image-url('services/block1f.png') center -10px no-repeat;
        //background-size: auto 150px;
        background-size: 60% auto;
    }
    #block1 .content .cnt1 div {
        margin: 200px 0 0 0;
    }
    #block1 .content .cnt2 div {
        margin: 200px 0 0 0;
    }
    #block1 .content .cnt3 div {
        margin: 150px 0 0 0;
    }
    #block1 .content .cnt4 div {
        margin: 150px 0 0 0;
    }
    #block1 .content .cnt5 div {
        margin: 165px 0 0 0;
    }
    #block1 .content .cnt6 div {
        margin: 165px 0 0 0;
    }
}
@media (max-width: 768px) {
    #block1 .zag {
        font: 35px 'Exo2 Light', sans-serif;
    }
}
@media (max-width: 480px) {
    #block1 .zag {
        font: 30px 'Exo2 Light', sans-serif;
    }
    
    #block1 .content .cnt1 {
        background: image-url('services/block1a.png') center 30px no-repeat;
        background-size: 70% auto;
    }

    #block1 .content .cnt1 div {
        margin: 130px 0 0 0;
    }
    #block1 .content .cnt2 div {
        margin: 130px 0 0 0;
    }
    #block1 .content .cnt3 div {
        margin: 130px 0 0 0;
    }
    #block1 .content .cnt4 div {
        margin: 130px 0 0 0;
    }
    #block1 .content .cnt5 div {
        margin: 130px 0 0 0;
    }
    #block1 .content .cnt6 div {
        margin: 130px 0 0 0;
    }
}
@media (max-width: 330px) {
    #block1 {
        height: 1400px;
        background: #D9EBFF;
        padding-top: 130px;
    }
    #block1 .zag {
        font: 20px 'Exo2 Light', sans-serif;
    }
    #block1 .content div {
        height: 240px;
        width: 100%;
        margin-top: 15px;
    }

    #block1 .content .cnt1 div {
        margin: 190px 0 0 0;
    }
    #block1 .content .cnt2 div {
        margin: 190px 0 0 0;
    }
    #block1 .content .cnt3 div {
        margin: 160px 0 0 0;
    }
    #block1 .content .cnt4 div {
        margin: 160px 0 0 0;
    }
    #block1 .content .cnt5 div {
        margin: 170px 0 0 0;
    }
    #block1 .content .cnt6 div {
        margin: 170px 0 0 0;
    }
}
/* Block 2 */

#block2 {
    position: relative;
    margin: 0 auto;
    margin-top: -235px;
    padding-top: 235px;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
    height: 577px;
    background: image-url('block2-bg.png') top center;
    background-size: cover;
    z-index: 80;
}
#block2 .left {
    float: left;
    width: 49%;
    margin-left: 1%;
    background: image-url('block2a.png') 50px top no-repeat;
}
#block2 .left .cont {
    float: right;
    margin: 0 40px 0 0;
    max-width: 555px;
}
#block2 .left .cont .zag {
    border-left: 8px solid #0F64AD;
    padding: 0 0 0 20px;
    font: 35px 'Exo2 Light', sans-serif;
    color: #153170;
    line-height: 50px;
    text-align: left;
    display: block;
}
#block2 .left .cont .text {
    margin: 20px 0 0 0;
    font: 15px 'Exo2 Regular', sans-serif;
    color: #304880;
    text-align: justify;
}
#block2 .left .cont .text span {
    font: 15px 'Exo2 Bold', sans-serif;
    color: #304880;
}
#block2 .right {
    float: right;
    width: 49%;
    margin-right: 1%;
}
#block2 .right .cont {
    float: left;
    margin: 0 0 0 40px;
    max-width: 555px;
}
#block2 .right .cont .zag {
    border-left: 8px solid #00D5FF;
    padding: 0 0 0 20px;
    font: 35px 'Exo2 Light', sans-serif;
    color: #ffffff;
    line-height: 50px;
    text-align: left;
    display: block;
}
#block2 .right .cont .text {
    margin: 20px 0 0 0;
    font: 15px 'Exo2 Regular', sans-serif;
}
#block2 .right .cont .text .preim1 {
    background: image-url('block2b1.png') 15px center no-repeat;
    padding: 0 0 0 105px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#block2 .right .cont .text .preim2 {
    background: image-url('block2b2.png') right center no-repeat;
    padding: 0 105px 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
#block2 .right .cont .text .preim3 {
    background: image-url('block2b3.png') 15px center no-repeat;
    padding: 0 0 0 105px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#block2 .right .cont .text .preim4 {
    background: image-url('block2b4.png') right center no-repeat;
    padding: 0 105px 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
#block2 .right .cont .text .preim1 div,
#block2 .right .cont .text .preim3 div {
    margin: 0 0 20px 0;
    padding: 0 15px;
    border-left: 2px solid #00D5FF;
    text-align: left;
    color: #ffffff;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
#block2 .right .cont .text .preim2 div,
#block2 .right .cont .text .preim4 div {
    margin: 0 0 20px 0;
    padding: 0 15px;
    border-right: 2px solid #00D5FF;
    text-align: right;
    color: #ffffff;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
@media (max-width: 1600px) {
    #block2 .left {
        background: none
    }
}
@media (min-width: 981px) and (max-width: 1100px) {
    #block2 {
        position: relative;
        margin: 0 auto;
        margin-top: -150px;
        padding-top: 140px;
        height: 670px;
    }
}
@media (max-width: 980px) {
    #block2 {
        position: relative;
        margin: 0 auto;
        margin-top: -150px;
        padding-top: 140px;
        height: 670px;
    }
    #block2 .left {
        padding-left: 10px;
        width: 450px;
    }
    #block2 .right {
        padding-right: 10px;
        width: 450px;
    }
    #block2 .right .cont .text .preim1,
    #block2 .right .cont .text .preim2,
    #block2 .right .cont .text .preim3,
    #block2 .right .cont .text .preim4 {
        margin-bottom: 40px !important;
    }
}
@media (max-width: 935px) {
    #block2 {
        margin-top: -80px;
        padding-top: 60px;
        height: 800px;
    }
    #block2 .left {
        padding-left: 15px;
        width: 47%;
    }
    #block2 .left .cont .zag,
    #block2 .right .cont .zag {
        padding: 0 0 0 10px;
    }
    #block2 .right {
        padding-right: 15px;
        width: 47%;
    }
    #block2 .right .cont .text {
        font: 14px 'Exo2 Regular', sans-serif;
    }
    #block2 .right .cont .text span {
        font: 14px 'Exo2 Bold', sans-serif;
    }
    #block2 .right .cont .text .preim1,
    #block2 .right .cont .text .preim2,
    #block2 .right .cont .text .preim3,
    #block2 .right .cont .text .preim4 {
        margin-bottom: 30px !important;
    }
}
@media (max-width: 768px) {
    #block2 {
        margin-top: -75px;
        padding-top: 100px;
        height: auto;
        background: #DBE8F3 image-url('bg1.png') top center no-repeat;
        background-size: 100% auto;
    }
    #block2 .left {
        margin: 0;
        padding: 0 2%;
        width: 96%;
        background: #DBE8F3 image-url('block2a.png') 30px top no-repeat;
        background-size: 50px auto;
    }
    #block2 .right {
        margin: 0;
        padding: 60px 2% 0 2%;
        width: 96%;
        background: #0F64AD image-url('bg2.png') top center no-repeat;
        background-size: 100% auto;
    }
    #block2 .left .cont .zag,
    #block2 .right .cont .zag {
        padding: 0;
        border: 0;
        text-align: center;
    }
    #block2 .left .cont,
    #block2 .right .cont {
        margin: 0 auto;
        max-width: 768px;
    }
}
@media (max-width: 640px) {
    #block2 {
        margin-top: 0;
        padding-top: 40px;
    }
}
@media (max-width: 480px) {
    #block2 {
        height: auto;
    }
    #block2 .left .cont .zag,
    #block2 .right .cont .zag {
        font: 30px 'Exo2 Light', sans-serif;
    }
    #block2 .left {
        padding: 0 2%;
        width: 96%;
    }
    #block2 .right {
        margin: 0;
        padding: 40px 2% 0 2%;
    }
}
@media (max-width: 390px) {
    #block2 .left {
        background: none;
    }
}
@media (max-width: 330px) {
    #block2 {
        padding-top: 40px;
    }
    #block2 .left .cont .zag,
    #block2 .right .cont .zag {
        font: 20px 'Exo2 Light', sans-serif;
    }
    #block2 .right .cont .text,
    #block2 .left .cont .text {
        font-size: 14px
    }
    #block2 .left,
    #block2 .right {
        padding: 0 3%;
        width: 94%;
    }
    #block2 .left .cont,
    #block2 .right .cont {
        margin: 0;
    }
    #block2 .right {
        padding: 40px 3% 0 3%;
    }
}
/* Block 3 */

#block3 {
    position: relative;
    margin: -70px 0 70px 0;
    padding: 100px 0 15px 0;
    width: 100%;
    background: #F4F6F9;
    height: auto;
    z-index: 70;
}
#block3 .zag {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    background: image-url('zagline-photo.png') center center no-repeat;
    font: 45px 'Exo2 Light', sans-serif;
    color: #153170;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
#block3 .cont {
    margin: 0 auto;
    padding: 35px 0 35px 0;
    width: 100%;
    max-width: 1860px;
    height: auto;
    background: image-url('photo-bg.png') center bottom no-repeat;
}
#block3 .cont .photo {
    position: relative;
    float: left;
    margin: 15px;
    width: 278px;
    height: 278px;
    border: 1px solid #395086;
    border-radius: 140px;
    overflow: hidden;
}
#block3 .cont .photo .e-show-img-photo {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -35px;
    width: 71px;
    height: 46px;
    background: image-url('photo-loop.png') center center no-repeat;
    opacity: 0.8;
}
#block3 .cont .photo .e-show-img-photo:hover {
    opacity: 1.0;
}
#block3 .cont .photo .photo-img {
    //margin: 9px;
    width: 260px;
    height: 260px;
    border-radius: 130px;
    overflow: hidden;
}
#block3 .cont .photo .photo-img:hover {
    margin: 0;
    width: 278px;
    height: 278px;
    border-radius: 150px;
}

#block3 .cont .photo .photo-img:after{
    content: '';
    width: 71px;
    height: 46px;
    position: absolute;
    display: inline-block;
    background: image-url('photo-loop.png') center center no-repeat;
}
#block3 .cont .photo .photo-img img{
    width:100%;
    height: 100%;
}

#block3 .photo-button {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    background: image-url('buttonline-photo.png') center center no-repeat;
    text-align: center;
}
#block3 .photo-button a {
    padding: 10px 25px;
    border-radius: 30px;
    font: 15px 'Exo2 Regular', sans-serif;
    color: #fff;
    text-decoration: none;
    background: #0F64AD;
}
#block3 .photo-button a:hover {
    background: #153170;
}
@media (min-width: 1550px) and (max-width: 1919px) {
    #block3 .cont {
        max-width: 1550px;
        padding-bottom: 65px;
    }
    #block3 .cont .photo:nth-child(6) {
        display: none;
    }
}
@media (min-width: 1240px) and (max-width: 1549px) {
    #block3 .cont {
        max-width: 1240px;
    }
    #block3 .cont .photo:nth-child(5),
    #block3 .cont .photo:nth-child(6) {
        display: none;
    }
}
@media (min-width: 1200px) and (max-width: 1240px) {
    #block3 .cont {
        max-width: 1200px;
    }
    #block3 .cont .photo {
        margin: 10px;
    }
    #block3 .cont .photo:nth-child(5),
    #block3 .cont .photo:nth-child(6) {
        display: none;
    }
}
@media (max-width: 1199px) {
    #block3 {
        background: #fff;
        margin-bottom: 0;
    }
}
@media (min-width: 980px) and (max-width: 1199px) {
    #block3 {
        height: auto;
        padding-bottom: 35px;
    }
    #block3 .cont {
        padding: 35px 0 65px 0;
        max-width: 960px;
    }
    #block3 .cont .photo {
        margin: 20px;
    }
    #block3 .cont .photo:nth-child(4),
    #block3 .cont .photo:nth-child(5),
    #block3 .cont .photo:nth-child(6) {
        display: none;
    }
}
@media (min-width: 800px) and (max-width: 979px) {
    #block3 {
        height: auto;
    }
    #block3 .cont {
        margin: 0 auto;
        padding: 35px 0 45px 0;
        max-width: 750px;
        background: none !important;
    }
    #block3 .cont .photo {
        width: 228px;
        height: 228px;
        margin: 10px;
    }
    #block3 .cont .photo .photo-img {
        width: 210px;
        height: 210px;
    }
    #block3 .cont .photo .photo-img:hover {
        margin: 0;
        width: 228px;
        height: 228px;
        border-radius: 150px;
    }
}
@media (max-width: 799px) {
    #block3 .cont {
        margin: 0 auto;
        padding: 35px 0 45px 0;
        max-width: 500px;
        background: none !important;
    }
    #block3 .cont .photo {
        width: 228px;
        height: 228px;
        margin: 10px;
    }
    #block3 .cont .photo .photo-img {
        width: 210px;
        height: 210px;
    }
    #block3 .cont .photo .photo-img:hover {
        margin: 0;
        width: 228px;
        height: 228px;
        border-radius: 150px;
    }
}
@media (max-width: 768px) {
    #block3 {
        margin-top: 0;
        padding: 50px 0 20px 0;
        height: auto;
        background: #fff image-url('bg4.png') top center no-repeat;
        background-size: 100% auto;
    }
    #block3 .zag {
        font: 35px 'Exo2 Light', sans-serif;
        background: none;
    }
}
@media (max-width: 640px) {
    #block3 {
        margin-top: 0;
        padding: 50px 0 20px 0;
        height: auto;
        background: #fff image-url('bg4.png') top center no-repeat;
        background-size: 100% auto;
    }
    #block3 .cont {
        margin: 0 auto;
        width: 400px;
        padding: 20px 0;
        background: none;
    }
    #block3 .cont .photo {
        width: 178px;
        height: 178px;
        margin: 10px;
    }
    #block3 .cont .photo .photo-img {
        width: 160px;
        height: 160px;
    }
    #block3 .cont .photo .photo-img:hover {
        margin: 0;
        width: 178px;
        height: 178px;
        border-radius: 150px;
    }
}
@media (max-width: 480px) {
    #block3 .cont {
        margin: 0 auto;
        padding: 15px 0;
        width: 100%;
        background: none;
    }
    #block3 .cont .photo {
        float: none;
        margin: 0 auto;
        width: 178px;
        height: 178px;
        margin-top: 10px;
    }
    #block3 .cont .photo .photo-img {
        width: 160px;
        height: 160px;
    }
    #block3 .cont .photo .photo-img:hover {
        margin: 0;
        width: 178px;
        height: 178px;
        border-radius: 150px;
    }
    #block3 .cont .photo:nth-child(4),
    #block3 .cont .photo:nth-child(5),
    #block3 .cont .photo:nth-child(6) {
        display: none;
    }
    #block3 .zag {
        font: 30px 'Exo2 Light', sans-serif;
        background: none;
    }
}
@media (max-width: 330px) {
    #block3 .zag {
        font: 20px 'Exo2 Light', sans-serif;
    }
}
/* Block 4 */

#block4 {
    position: relative;
    margin: -45px 0 10px 0;
    padding-top: 52px;
    width: 100%;
    height: 568px;
    background: image-url('newsform-bg.png') center center no-repeat;
    z-index: 70;
    box-shadow: 0px 8px 8px #666;
}
#block4 .mainnews {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    height: auto;
    position: relative;
    z-index: 20;
}
#block4 .mainnews .left {
    float: left;
    width: 800px;
}
#block4 .mainnews .left .zag {
    border-left: 8px solid #0F64AD;
    padding: 0 0 0 20px;
    font: 35px 'Exo2 Light', sans-serif;
    color: #153170;
    line-height: 50px;
    text-align: left;
    display: block;
}
#block4 .mainnews .left .cont {
    margin: 15px 0 0 0;
    width: 100%;
    height: auto;
}
#block4 .mainnews .left .cont .news {
    float: left;
    width: 240px;
    margin-right: 20px;
}
#block4 .mainnews .left .cont .news .img {
    position: relative;
    width: 240px;
    height: 240px;
}
#block4 .mainnews .left .cont .news .img img {
    width: 100%;
    height: 100%;
    border-radius: 135px;
}
#block4 .mainnews .left .cont .news .img .date {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #F4F6F9;
    font: 15px 'Exo2 Regular', sans-serif;
    color: #304880;
    text-align: center;
}
#block4 .mainnews .left .cont .news .img .date span {
    display: block;
    padding: 12px 0 0 0;
    font: 22px 'Exo2 Regular', sans-serif;
    color: #304880;
}
#block4 .mainnews .left .cont .news .zag-text {
    padding: 15px 0;
    font: 15px 'Exo2 Medium', sans-serif;
    color: #153170;
    text-align: center;
}
#block4 .mainnews .left .cont .news .text {
    font: 15px 'Exo2 Italic', sans-serif;
    color: #153170!important;
    text-align: justify;
}
#block4 .mainnews .left .cont .news .text p {
    color: #153170!important;
}
#block4 .mainnews .left .news-button {
    margin-top: 45px;
    width: 100%;
    height: auto;
    background: image-url('line-button.png') center center no-repeat;
    text-align: center;
}
#block4 .mainnews .left .news-button a {
    padding: 10px 25px;
    border-radius: 30px;
    font: 15px 'Exo2 Regular', sans-serif;
    color: #fff;
    text-decoration: none;
    background: #0F64AD;
}
#block4 .mainnews .left .news-button a:hover {
    background: #153170;
}
#block4 .mainnews .left .pay {
    padding: 30px 30px 0 0;
    font: 15px 'Exo2 Medium', sans-serif !important;
    color: #304880;
    text-align: justify;
}
#block4 .mainnews .right {
    float: left;
    width: 340px;
    padding: 0 0 0 30px;
}
#block4 .mainnews .right .zag {
    border-left: 8px solid #00D5FF;
    padding: 0 0 0 20px;
    font: 35px 'Exo2 Light', sans-serif;
    color: #fff;
    line-height: 50px;
    text-align: left;
    display: block;
}
#block4 .mainnews .right .cont {
    margin: 15px 0 0 0;
    width: 100%;
    height: auto;
}
#block4 .mainnews .right .cont input {
    outline: none;
    margin: 0 0 20px 0;
    padding: 0 15px;
    width: 308px;
    background: none;
    border-radius: 10px;
    border: 1px solid #00D5FF;
    font: 15px 'Exo2 Regular', sans-serif;
    color: #fff;
    line-height: 38px;
}
#block4 .mainnews .right .cont textarea {
    outline: none;
    margin: 0 0 10px 0;
    padding: 0 15px;
    width: 308px;
    height: 132px;
    background: none;
    border-radius: 10px;
    border: 1px solid #00D5FF;
    font: 15px 'Exo2 Regular', sans-serif;
    color: #fff;
    line-height: 38px;
}
#block4 .mainnews .right .cont .form-button {
    display: block;
    margin: 0 auto;
    background: #00D5FF;
    width: 300px;
    height: auto;
    font: 15px 'Exo2 Regular', sans-serif;
    text-align: center;
    color: #153170;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
    line-height: 35px;
    outline: none;
    margin-top: 10px;
}

#block4 .mainnews .right .cont .form-button:hover{
    background: #00D5FF!important;
}

@media (min-width: 1172px) and (max-width: 1199px) {
    #block4 {
        height: auto;
        background: none;
    }
    #block4 .mainnews .left,
    #block4 .mainnews .right {
        float: none;
        margin: 0;
        padding: 0;
    }
    #block4 .mainnews .left {
        width: 100%;
    }
    #block4 .mainnews .left .zag {
        border-left: 0;
        padding: 0;
        text-align: center;
    }
    #block4 .mainnews .left .cont .news {
        display: inline-block;
        width: 240px;
        margin: 0 10px;
    }
    #block4 .mainnews .right {
        padding: 60px 0 20px 0;
        width: 100%;
        background: image-url('forma-bg-mobile.png') top center no-repeat;
        background-size: 100% auto;
        text-align: center;
    }
    #block4 .mainnews .right .zag {
        border-left: 0;
        padding: 0;
        text-align: center;
    }
    #block4 .mainnews .right .cont {
        background: image-url('konvert.png') center center no-repeat;
    }
}
@media (min-width: 640px) and (max-width: 1171px) {
    #block4 {
        height: auto;
        margin: 0;
        background: #F4F6F9 image-url('bg3.png') top center no-repeat;
        background-size: 100% auto;
    }
    #block4 .mainnews .left,
    #block4 .mainnews .right {
        float: none;
        margin: 0;
        padding: 0;
    }
    #block4 .mainnews .left {
        width: 100%;
    }
    #block4 .mainnews .left .newscent {
        margin: 0 auto;
        width: 780px;
    }
    #block4 .mainnews .left .zag {
        border-left: 0;
        padding: 0;
        text-align: center;
    }
    #block4 .mainnews .left .cont .news {
        display: inline-block;
        width: 240px;
        margin: 0 10px;
    }
    #block4 .mainnews .left .pay {
        padding: 30px 15px 15px 15px;
    }
    #block4 .mainnews .right {
        padding: 60px 0 20px 0;
        width: 100%;
        background: #4E85BF image-url('forma-bg-mobile.png') top center no-repeat;
        background-size: 100% auto;
        text-align: center;
    }
    #block4 .mainnews .right .zag {
        border-left: 0;
        padding: 0;
        text-align: center;
    }
    #block4 .mainnews .right .cont {
        background: image-url('konvert.png') center center no-repeat;
    }
    #block4 .mainnews .left .news-button {
        margin: 45px 0 25px;
    }
}
@media (max-width: 800px) {
    #block4 {
        box-shadow: none;
    }
}
@media (min-width: 640px) and (max-width: 740px) {
    #block4 {
        height: auto;
    }
    #block4 .mainnews .left .newscent {
        margin: 0 auto;
        width: 520px;
    }
    #block4 .mainnews .left .cont .news:nth-child(3) {
        display: none;
    }
    #block4 .mainnews .left .news-button {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    #block4 .mainnews .left .zag {
        border-left: 0;
        padding: 0;
        text-align: center;
    }
    #block4 .mainnews .left .pay {
        padding: 30px 15px 15px 15px;
    }
}
@media (max-width: 640px) {
    #block4 {
        margin: 0;
        padding: 0;
        height: auto;
    }
    #block4 .mainnews .left {
        padding: 40px 0;
        width: 100%;
        background: #F4F6F9 image-url('bg3.png') top center no-repeat;
        background-size: 100% auto;
    }
    #block4 .mainnews .left .newscent {
        margin: 0 auto;
        width: 240px;
    }
    #block4 .mainnews .left .cont .news {
        margin: 0 0 20px 0 !important;
    }
    #block4 .mainnews .left .cont .news:nth-child(3) {
        display: none;
    }
    #block4 .mainnews .right {
        padding: 60px 0 20px 0;
        width: 100%;
        background: #4E85BF image-url('forma-bg-mobile.png') top center no-repeat;
        background-size: 100% auto;
        text-align: center;
    }
    #block4 .mainnews .left .zag {
        border-left: 0;
        padding: 0;
        text-align: center;
    }
    #block4 .mainnews .left .zag,
    #block4 .mainnews .right .zag {
        text-align: center;
        border: 0;
        font: 35px 'Exo2 Light', sans-serif;
    }
    #block4 .mainnews .left .news-button {
        margin: 45px 0 25px;
    }
    #block4 .mainnews .left .pay {
        padding: 30px 15px 15px 15px;
    }
}
@media (max-width: 480px) {
    #block4 .mainnews .left {
        padding: 40px 0;
        width: 100%;
        background: #F4F6F9 image-url('bg3.png') top center no-repeat;
        background-size: 100% auto;
    }
    #block4 .mainnews .left .newscent {
        margin: 0 auto;
        width: 240px;
    }
    #block4 .mainnews .left .cont .news {
        margin: 0 0 20px 0 !important;
    }
    #block4 .mainnews .left .cont .news:nth-child(3) {
        display: none;
    }
    #block4 .mainnews .left .zag,
    #block4 .mainnews .right .zag {
        border-left: 0;
        padding: 0;
        text-align: center;
        font: 30px 'Exo2 Light', sans-serif;
    }
}
@media (max-width: 330px) {
    #block4 .mainnews .left {
        padding: 40px 0 30px 0;
        width: 100%;
    }
    #block4 .mainnews .left .cont .news {
        margin: 0 auto !important;
        padding-bottom: 20px;
        float: none;
    }
    #block4 .mainnews .left .cont .news:nth-child(3) {
        display: none;
    }
    #block4 .mainnews .left .zag {
        font-size: 20px
    }
    #block4 .mainnews .left .cont .news .zag-text,
    #block4 .mainnews .left .cont .news .text {
        font-size: 14px;
    }
    #block4 .mainnews .left .zag {
        border-left: 0;
        padding: 0;
        text-align: center;
        font-size: 20px;
    }
    #block4 .mainnews .right {
        padding: 15px 0;
    }
    #block4 .mainnews .right .cont input {
        width: 268px;
    }
    #block4 .mainnews .right .cont textarea {
        width: 268px;
    }
    #block4 .mainnews .right .cont .form-button {
        width: 300px;
    }
    #block4 .mainnews .left .zag,
    #block4 .mainnews .right .zag {
        font: 20px 'Exo2 Light', sans-serif;
    }
}



.e-view-img{
    cursor: pointer;
}