
/* NEWS */
#news {padding:300px 0 0 0;width:100%;height:auto;}
    #news .news {margin:0 auto;width:1200px;height:auto;}
    #news .news .zag {font:45px 'Exo2 Semibold',sans-serif;color:#153170;text-align:center; display: block;}
    #news .news .line {margin:0 auto;margin-top:15px;margin-bottom:20px;width:100px;height:5px;background:#153170;}
    #news .news .position {font:14px 'Exo2 Regular',sans-serif;color:#304880;text-align:center;}
    #news .news .position a {color:#0f64ad;}
    #news .news  main {padding:50px 0;}
    #news .news  main .fullnews {float:left;width:240px; min-height: 350px; margin:30px;}
    #news .news  main .fullnews .img {position:relative;width:240px;height:240px;}
    #news .news  main .fullnews .img img {width:100%; height:100%; border-radius:135px;}
    #news .news  main .fullnews .img .date {position:absolute;left:0;bottom:0;width:75px;height:75px;border-radius:50%;background:#F4F6F9;font:15px 'Exo2 Regular',sans-serif;color:#304880;text-align:center;}
    #news .news  main .fullnews .img .date span {display:block;padding:12px 0 0 0;font:22px 'Exo2 Regular',sans-serif;color:#304880;}
    #news .news  main .fullnews .zag-text {padding:15px 0;font:15px 'Exo2 Medium',sans-serif;color:#153170;text-align:center;}
    #news .news  main .fullnews .text {font:15px 'Exo2 Italic',sans-serif;color:#153170;text-align:justify;}
    #news .news  main .newsbutton {width:100%;height:auto;background:image-url('nb-line.png') center center no-repeat;}
    #news .news  main .newsbutton a {margin:0 auto;display:block;width:55px;height:55px;background:image-url('nb.png') center center no-repeat;cursor:pointer;}
    #news .news  main .text {padding-top:5px;font:15px 'Exo2 Regular',sans-serif;text-align:center;color:#0F64AD;}

@media (max-width:1171px) {
    #news {background:#fff;}
}
@media (min-width:1000px) and (max-width:1199px) {
    #news .news {width:1080px;}
    #news .news  main .fullnews {float:left;width:240px;margin:15px;}
}
@media (max-width:799px) {
    #news {padding:150px 0 0 0;}
}
@media (min-width:540px) and (max-width:999px) {
    #news .news {width:540px;}
    #news .news  main .fullnews {float:left;width:240px;margin:15px;}
}
@media (max-width:540px) {
    #news {padding:100px 0 0 0;}
    #news .news {width:270px;}
    #news .news  main .fullnews {float:left;width:240px;margin:15px;}
}

.e-content-news{
    margin-top: 50px!important;
    margin-bottom: 50px!important;
}