// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* NEWS */
.b-catalog {padding:300px 0 0 0;width:100%;height:auto;position: relative;}
	.b-catalog .b-catalog-wrapper {margin:0 auto;width:1200px;height:auto;}
	.b-catalog .b-catalog-wrapper .zag {font:45px 'Exo2 Semibold',sans-serif;color:#153170;text-align:center; display: block;}
	.b-catalog .b-catalog-wrapper .line {margin:0 auto;margin-top:15px;margin-bottom:20px;width:100px;height:5px;background:#153170;}
	.b-catalog .b-catalog-wrapper .position {font:14px 'Exo2 Regular',sans-serif;color:#304880;text-align:center;}
	.b-catalog .b-catalog-wrapper .position a {color:#0f64ad;}
	.b-catalog .b-catalog-wrapper  main {
		display: block;
		padding:50px 0;
		margin: 0 auto;
	}
	.b-catalog .b-catalog-wrapper .e-catalog-1{
		width: 300px!important;
	}
	.b-catalog .b-catalog-wrapper .e-catalog-2{
		width: 600px!important;
	}
	.b-catalog .b-catalog-wrapper  main .b-catalog-full {float:left;width:240px;margin:30px;}
	.b-catalog .b-catalog-wrapper  main .b-catalog-full .img {display: table-cell; vertical-align: middle; border-radius: 130px; border: 1px solid #395086; position:relative;width:240px;height:240px; padding: 5px 5px 5px 5px;}
	.b-catalog .b-catalog-wrapper  main .b-catalog-full .img img { width:100%; height:auto; border-radius:135px; }
	.b-catalog .b-catalog-wrapper  main .b-catalog-full .zag-text {padding:15px 0;font:15px 'Exo2 Medium',sans-serif;color:#153170;text-align:center;}
	
@media (max-width:1171px) {
	.b-catalog {background:#fff;}
}
@media (min-width:1000px) and (max-width:1199px) {
	.b-catalog .b-catalog-wrapper {width:1080px;}
	.b-catalog .b-catalog-wrapper  main .b-catalog-full {float:left;width:240px;margin:15px;} 
}
@media (max-width:799px) {
	.b-catalog {padding:150px 0 0 0;}
}
@media (min-width:540px) and (max-width:999px) {
	.b-catalog .b-catalog-wrapper {width:540px;}
	.b-catalog .b-catalog-wrapper  main .b-catalog-full {float:left;width:240px;margin:15px;}
}
@media (max-width:540px) {
	.b-catalog {padding:100px 0 0 0;}
	.b-catalog .b-catalog-wrapper {width:270px;}
	.b-catalog .b-catalog-wrapper  main .b-catalog-full {float:left;width:240px;margin:15px;}
}

.b-content-item{
	margin-top: 60px!important;
}

.b-content-item .zag{
	display: block;
}

.b-content-item-wrapper{
	margin-top: 120px!important;
}

@media (max-width:800px) {
	.b-content-item-wrapper{
		margin-top: 0px!important;
	}
}