#sitemap{
	.b-sitemap{
		padding-top: 260px;
		padding-left: 30px;
		list-style: none;
		width: 100%;
		max-width: 1174px;
		margin: 0 auto;
		margin-bottom: 30px;
		li{
			a{
				font-size: 14px;
				text-decoration: none;
				margin-top: 3px;
			}
			ul{
				margin-left: 30px;
				list-style: none;
			}
		}
	}

	@media (max-width: 800px) {
		.b-sitemap{
			padding-top: 150px;
		}
	}

	@media (max-width: 480px) {
		.b-sitemap{
			padding-top: 80px;
			li{
				a{
					font-size: 12px;
				}
			}
		}
	}
}