<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= favicon_link_tag '/favicon.ico' %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>
    <meta name="title" content="<%= @title %>">
    <meta name="keywords" content="<%= @keywords %>">
    <meta name="description" content="<%= @description %>">

    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="<%= @title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.tsavto.com/">
    <meta property="og:image" content="/tss.jpg">
    <meta property="og:site_name" content="Группа компаний «Техносервис»">
    <meta property="og:description" content="<%= @description %>">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.jpg"> 
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.jpg"> 
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.jpg"> 
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.jpg"> 
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.jpg"> 
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.jpg"> 
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.jpg"> 
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.jpg"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.jpg"> 
    <link rel="icon" type="image/jpeg" sizes="192x192" href="/android-icon-192x192.jpg">
    <link rel="icon" type="image/jpeg" sizes="16x16" href="/favicon-16x16.jpg">
    <link rel="icon" type="image/jpeg" sizes="32x32" href="/favicon-32x32.jpg"> 
    <link rel="icon" type="image/jpeg" sizes="96x96" href="/favicon-96x96.jpg"> 

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFFS36J');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFFS36J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%= yield %>
        <script type="text/javascript">
        

        $(document).ready(function() {
            var isOpenedMenu = false;
            $(window).scroll(function(){
                if(isOpenedMenu === false) {
                    if ($(this).scrollTop() > 500) {
                        $("#main-nav").fadeIn("slow")
                    } else {
                        $("#main-nav").fadeOut("slow")
                    }
                }
            });

            $(".e-header-small-menu").on("click", function(){
                state = $(".b-header-mob-menu").css('display');
                if(state === "none"){
                    $("#main-nav").fadeIn("slow");
                    $("header .logo").fadeOut(800);
                    $(".b-header-mob-menu").fadeIn("slow");
                    isOpenedMenu = true;
                    
                } else {
                    $("#main-nav").fadeOut("slow");
                    $("header .logo").fadeIn(400);
                    $(".b-header-mob-menu").fadeOut("slow");
                    isOpenedMenu = false;
                }
            });
        })

    $(function() {
        $(".e-show-img").click(function() {
            console.log($(this).attr("value"));
            $(".b-photo-window-wrapper").css("display", "block");
            $(".b-photo-img").attr("src", $(this).attr("value"));
            var width = $(window).width()-20;
            if(width > 1000) width=980;
            $(".b-photo-img").css("width", width).css("margin-left", -(width/2));
        });

        $(".b-photo-window-wrapper").click(function() {
            $(".b-photo-window-wrapper").css("display", "none");
        });

        $(".b-popup-parent").click(function() {
            $(".b-popup-parent").css("display", "none");
            $(".b-popup-close").css("display", "none");
            $(".b-popup").css("display", "none");
        });

        $(".b-popup-close").click(function() {
            $(".b-popup-parent").css("display", "none");
            $(".b-popup-close").css("display", "none");
            $(".b-popup").css("display", "none");
        });

        $(".call-button").click(function() {
            $(".b-popup-parent").css("display", "block");
            $(".b-popup-close").css("display", "block");
            $(".b-popup").css("display", "block");
            yaCounter39337790.reachGoal('send_message');
        });

        $(".e-view-img").click(function() {
            var image = new Image();
            var src = $(this).attr("src");
            image.src = src;
            image.onload = function() {
                var imgWidth = image.naturalWidth;
                $(".b-photo-window-wrapper").css("display", "block");
                $(".b-photo-img").attr("src", src);

                var width = imgWidth;
                if(imgWidth > 980){
                    width = $(window).width()-20;
                    if(width > 1000) width=980;
                }

                $(".b-photo-img").css("width", width).css("margin-left", -(width/2));
            };
        });

    });
    </script>

  </body>
</html>
